<div class="container-fluid" style="background-color:#daf5fe;">
  <div class="row">
    <div class="col-md-12">
      <div  style="width:490px; margin:0 auto;">
        <div id="eventDesignPreview">
          <% if @event.fb_image.url.present? %>
              <%= image_tag @event.fb_image.url  %>
          <% else %>
              <% c_design = @handlebars.compile(@event_design.content) %>
              <%= c_design.call(MPARTY: event_data_points(@event,@event_template)).html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" style="background-color:#444444;">
  <div class="row">
    <div class="col-md-12 mtop10 mbottom10">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align:center;">
        <% if @event.future_event? %>
            <div class="col-md-12">
              <a class="btn btn-success" href = "<%=inv_respond_url(1,@invitation.token,params[:email])%>">ACCEPT</a>
              &nbsp;&nbsp;<a class="btn btn-warning" href = "<%=inv_respond_url(3,@invitation.token,params[:email]) %>">MAY BE</a>
              &nbsp;&nbsp;<a class="btn btn-danger" href = "<%=inv_respond_url(2,@invitation.token,params[:email]) %>">REJECT</a>
            </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mtop20">
        <div class="col-md-12 box">

          <div class="col-md-12">
            <table class="table table-bordered nomargin-bottom">
              <h4>Event Details:</h4>
              <% if @event.description.present?  %>
                  <tr>
                    <td width="500">Additional details:</td>
                    <% if @event.description.length > 120 %>
                        <td id="hide_when_read_more">
                          <%= simple_format(truncate(@event.description, length: 115)) %>
                          <%= link_to 'more', '#',class: "showLink",:id => 'example-show',:onclick => "showHide('example');return false;"%>
                        </td>
                        <td id="hide_when_read_more" class="td_hide">
                          <div id="example" class="show_more">
                            <%= simple_format(@event.description)%>
                            <%= link_to 'less', '#',class: "hideLink",:id => 'example-hide',:onclick => "showHide('example');return false;"%>
                          </div>
                        </td>
                    <% else %>
                        <td> <%= simple_format(@event.description) %></td>
                    <% end %>
                  </tr>
              <% end  %>
              <tr>
                <td>Date:</td>
                <td>
                  <% if @event.starts_at.strftime("%D") == @event.ends_at.strftime("%D")  %>
                      <% if @event.starts_at.strftime("%D") == Date.today.strftime("%D") %>
                          Today <%= "#{@event.starts_at.try(:strftime, '%I:%M %p')}" " - " "#{@event.ends_at.try(:strftime, '%I:%M %p')}"%>
                      <% else %>
                          <%= "#{@event.starts_at.strftime('%d/%m/%y ')}"  "#{@event.starts_at.try(:strftime, '%I:%M%p')}" " - " "#{@event.ends_at.try(:strftime, '%I:%M%p')}" %>
                      <% end %>
                  <% else %>
                      <% if @event.starts_at.strftime("%D") == Date.today.strftime("%D") %>
                          Today <%= @event.starts_at.try(:strftime, '%I:%M %p')%> -
                          <%= "#{@event.ends_at.strftime('%d/%m/%y ')}" "#{@event.ends_at.try(:strftime, '%I:%M %p')}"%>
                      <% else %>
                          <%= "#{@event.starts_at.strftime('%d/%m/%y ')}" " " "#{@event.starts_at.try(:strftime, '%I:%M %p')}"%> -
                          <%= "#{@event.ends_at.strftime('%d/%m/%y ')}"  ' ' "#{@event.ends_at.try(:strftime, '%I:%M %p')}"%>
                      <% end %>
                  <% end %>
                </td>
              </tr>
              <% if @event.venue_type != "virtual"  %>
                  <tr>
                    <td>Venue:</td>
                    <td>
                      <div class="col-md-11 nopadding">
                        <% if @event.venue.present? %>
                            <%= @event.venue.name %>,
                        <% end %>
                        <%=  @event.full_address %>
                      </div>
                    </td>
                  </tr>
              <% end  %>
            </table>
          </div>
        </div>
        <% if @event.pictures.count > 0  %>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 box mtop20">
                  <div class="col-md-12 photos_in_invite_email">
                    <% unless @event.pictures.blank? %>
                        <h4>Photos:</h4>
                        <div class="gallery event_photos" id="myCarousel">
                          <div class="jcarousel event_photos_block" data-jcarousel="false">
                            <ul style="left: 0px; top: 0px;">
                              <% @event.pictures.each do |picture| %>
                                  <li>
                                    <a class="fancybox" href="<%=picture.image.url %>" rel="gallery1">
                                      <%= picture_image_tag(picture,:slide_show) %>
                                    </a>
                                  </li>
                              <% end%>
                            </ul>
                          </div>
                          <%if @event.pictures.count > 4 %>
                              <a href="#" class="jcarousel-control-prev inactive event_photo_prev btn btn-success nopaddingTotal " data-jcarouselcontrol="true">‹</a>
                              <a href="#" class="jcarousel-control-next event_photo_next btn btn-success nopaddingTotal" data-jcarouselcontrol="true">›</a>
                          <%end%>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>

