%nav.navbar.navbar-default{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        = image_tag('logo.png',alt: 'mparty')
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.top-nav.nav.navbar-nav.navbar-right
        = render 'layouts/shared/select_state'
        %li= link_to_cart unless simple_current_order.nil? or simple_current_order.item_count.zero? or (controller_name.eql? 'orders' and action_name.eql? 'show' )
        - if signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              - if spree_current_user.avatar.present?
                = avatar_image_tag(spree_current_user,:small)
              - elsif spree_current_user.user_authentications.find_by_provider("facebook").present?
                - uid = spree_current_user.user_authentications.find_by_provider("facebook").uid
                = image_tag("http://graph.facebook.com/#{uid}/picture",class: 'img-rounded bg_img')
              - else
                = image_tag('default-avatar-small.png',class: 'img-rounded bg_img')
              #{current_spree_user.full_name}
              =# image_tag('bg_pic.jpg',class: 'img-rounded bg_img')
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to 'My Account', '/account/show'
              %li.divider
              %li= link_to 'My Wishlist', '/my-wish-lists'
              %li.divider
              - unless spree_current_user.completed_orders.blank?
                %li= link_to('Orders History', '/account/my-orders')
                %li.divider
              %li= link_to "Log Out", '/logout'
        - else
          %li
            %a{"data-target" => "#signup_modal", "data-toggle" => "modal", :href => "#"} Signup
          %li
            %a{"data-target" => "#login_modal", "data-toggle" => "modal", :href => "#"} Login


.navbar-collapse.navbar-default_2.collapse
  .container
    %ul.main-nav.nav.navbar-nav
      %li{class: controller.controller_name.eql?('home') ? 'active' : ''}
        %a{:href => "/"}
          %span.glyphicon.glyphicon-ok>
          \  What's Up?
      %li{class: (controller_name.eql?('events') && !action_name.eql?('calendar')) ? 'active' : ''}
        %a{:href => "/events"}
          %span.glyphicon.glyphicon-star>
          - if signed_in?
            \ &nbsp; My Events
          - else
            \ Events
      %li{class: controller.controller_name.eql?('venues') ? 'active' : ''}
        %a{:href => "/venues"}
          %span.glyphicon.glyphicon-map-marker>
          \  Venues
      - if signed_in?
        %li{class: (controller_name.eql?('events') && action_name.eql?('calendar')) ? 'active' : ''}
          %a{:href => "/calendar"}
            %span.glyphicon.glyphicon-calendar>
            \  My Calendar
- unless signed_in?
  = render 'layouts/shared/login_modal'
  = render 'layouts/shared/signup_modal'
  = render 'layouts/shared/forgot_pswd_modal'


