<div class="comment">
  <div class="row comment_block">
    <div class="col-md-1">
      <%  if comment.user.avatar.present? %>
         <%= image_tag(comment.user.avatar.url(:mini))%>
      <% else %>
          <%=  image_tag("default-avatar-comment.png") %>
       <% end %>
    </div>
    <div class="col-md-11">
      <h5><%= comment.commented_by %></h5>
      <p class="comment_time pull-right"><%= distance_of_time_in_words_to_now(comment.created_at) %></p>
      <p><%= simple_format(comment.content) %></p>
    </div>
  </div>
</div>

