<div class="container-fluid">
  <div class="container" >
    <%= hidden_field_tag :event_id ,@event.id %>
    <!--modal boxes************************************************************-->
    <!--add to wishlist modal box-->
    <%= render 'wishlist_modal' %>
    <!--modalbox end-->
    <!--shipping modal box-->
    <%= render 'shipping_address_form' %>
    <!--shipping addressmodalbox end-->
    <div class="row wishlist_header">
      <div class="col-md-3"></div>
      <div class="col-md-6 position_rel">
        <input type="search" class="form-control" placeholder="search products">
        <span class="glyphicon glyphicon-search position_abs search_btn"></span> </div>
      <div class="col-md-3"><a href="#" class="btn btn-lg btn-primary btn-block addwishlist_btn" data-toggle="modal" data-target="#wishlist-modal">
        <div class="img-rounded search_btn_count position_abs">
          <p id="wishlist-count"><%= @wishlist.wished_products.count %></p>
        </div>
        ADD TO WISHLIST</a>
      </div>
    </div>

    <div class="row mtop40" id="choose_products">
      <%= render 'products/products',products: @products,wishlist: @wishlist %>
    </div>
  </div>
</div>

<script type="text/javascript">
    // fill wished products via ajax when modal is open
    $('#wishlist-modal').on('shown.bs.modal', function () {
        var url = '/event/'+$('#event_id').val()+'/wishlist/wished_products'
        $.ajax({
            type: "GET",
            url: url,
            beforeSend: function(){},
            success: function(res) {
                $('#wishlist-modal-items').html(res).hide().fadeIn('slow')
            }
        });
    })
</script>