<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
  </head>

  <body style="width:100%; height:100%; overflow:hidden; background-color:#c72a3a;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">
      <div style="width:100%; height:100%; overflow:hidden; background-color:#c72a3a;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">

    <div style="width:700px; margin:20px auto; height:70px;"> 
     <%= image_tag asset_url('logo-2.png'), :style => 'margin:10px; margin-top:8px;' %> 
    </div>
  <!-- content  row -->
<div style="width:600px;margin:0 auto; font-size:18px;color:#555; background-color:#ffffff; padding:40px 50px; "> 
<br>
<div>
<% if @order.user %>
  <span style="color:#555;">Dear <i><b><%= @order.user.full_name %>,</b></i></span>
<% else %>
<span style="color:#555;"><%= Spree.t('order_mailer.confirm_email.dear_customer') %></span>
<% end %>
</div><br>
<div><%= Spree.t('order_mailer.confirm_email.instructions') %></div><br>
============================================================
<div><%= Spree.t('order_mailer.confirm_email.order_summary') %></div>
============================================================
<div>
<% @order.line_items.each do |item| %>
    <%= item.variant.sku %> <%= raw(item.variant.product.name) %> <%= raw(item.variant.options_text) -%> (<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %><br>
<% end %>
</div>
============================================================
<div><%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %></div><br>
<div>
<% @order.adjustments.eligible.each do |adjustment| %>
    <%= raw(adjustment.label) %> <%= adjustment.display_amount %>
<% end %>
</div><br>
<div><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></div><br>

<div><%= Spree.t('order_mailer.confirm_email.thanks') %></div>
</div>
    <!-- footer -->
    <div style="width:700px; margin:0 auto;margin-top:30px; margin-bottom:20px; text-align:center; 
        font-size:12px;color:#eeeeee;">
      <p><a href="#" style="color:#ffffff;">www.mparty.io</a></p>
    </div>
  </div>
</body>