 <div style="width:600px;margin:0 auto; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:15px;color:#555;">
  <!--main header-->
  <div style="width:100%;height:56px;background-image:url(<%= asset_url('menu_bg.jpg') %>); background-repeat:no-repeat; border-top: 6px solid #edb311;">
    <img src="<%= asset_url('logo.png') %>" style="margin:10px; margin-top:8px;">
  </div>
<br>
<div>
<% if @order.user %>
  <span style="color:#555;">Dear <%= @order.user.full_name %>,</span>
<% else %>
<span style="color:#555;"><%= Spree.t('order_mailer.confirm_email.dear_customer') %></span>
<% end %>
</div><br>
<div><%= Spree.t('order_mailer.confirm_email.instructions') %></div><br>
============================================================
<div><%= Spree.t('order_mailer.confirm_email.order_summary') %></div>
============================================================
<div>
<% @order.line_items.each do |item| %>
    <%= item.variant.sku %> <%= raw(item.variant.product.name) %> <%= raw(item.variant.options_text) -%> (<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %><br>
<% end %>
</div>
============================================================
<div><%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %></div><br>
<div>
<% @order.adjustments.eligible.each do |adjustment| %>
    <%= raw(adjustment.label) %> <%= adjustment.display_amount %>
<% end %>
</div><br>
<div><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></div><br>

<div><%= Spree.t('order_mailer.confirm_email.thanks') %></div>
