%h1 your have invited an event(#{@event.name}) of your friend #{@sender_name}

%p= link_to "View Invitation",  @url

-#%p
  = link_to 'Attend',spree.root_url + "invites/update_invitation?&status=1&&token=#{@token}"
  &nbsp;&nbsp;&nbsp; |
  = link_to 'May be',spree.root_url + "invites/update_invitation?&status=3&&token=#{@token}"
  &nbsp;&nbsp;&nbsp; |
  = link_to 'Reject',spree.root_url + "invites/update_invitation?&status=2&&token=#{@token}"
