
<% if @order.line_item_adjustments.exists? %>
    <% @order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
        <%= render "spree/orders/adjustment_row", :label => label, :adjustments => adjustments, :type => Spree.t(:promotion) %>
    <% end %>
<% end %>

<% @order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
    <%= render "spree/orders/adjustment_row", :label => label, :adjustments => adjustments, :type => Spree.t(:tax) %>
<% end %>

<% @order.shipments.each do |shipment| %>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-2"><h5><%= Spree.t(:shipping) %>: <%= shipment.shipping_method.name %></h5></div>
      <div class="col-md-1"><h5><%= shipment.display_discounted_cost %></h5></div>
    </div>
<% end %>

<% @order.adjustments.eligible.group_by(&:label).each do |label, adjustments| %>
    <%= render "spree/orders/adjustment_row", :label => label, :adjustments => adjustments, :type => Spree.t(:adjustment) %>
<% end %>

