<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<div class="row  no_margin shopping_cart_wishlist">
  <div class="col-md-2"></div>
  <div class="col-md-3 txt_bold">Descrpition</div>
  <div class="col-md-2 txt_bold">Price</div>
  <div class="col-md-2 txt_bold">Qunatity</div>
  <div class="col-md-2 txt_bold">Total</div>
  <div class="col-md-2"></div>
</div>
<div class="line_items">
  <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
</div>
<div class="row">
  <% if @order.adjustments.exists? || @order.line_item_adjustments.exists? || @order.shipment_adjustments.exists? %>
      <div class="row text-right">

        <div class="col-md-8"></div>
        <div class="col-md-3"><h5><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></h5></div>
        <div class="col-md-1"><h5><%= order_form.object.display_item_total %></h5></div>
      </div>
      <%= render "spree/orders/adjustments" %>
  <% end %>

  <div class="row text-right">

    <div class="col-md-8"></div>
    <div class="col-md-3 text-success"><h4><b>Total</b></h4></div>
    <div class="col-md-1 text-success"><h4 style="font-size:15px"><b><%= order_form.object.display_total %></b></h4></div>
  </div>
</div>