<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<div class="row  no_margin shopping_cart_wishlist">
  <div class="col-md-2"></div>
  <div class="col-md-3 txt_bold">DESCRIPTION</div>
  <div class="col-md-2 txt_bold">PRICE</div>
  <div class="col-md-2 txt_bold">QUANTITY</div>
  <div class="col-md-2 txt_bold">TOTAL</div>
  <div class="col-md-2"></div>
</div>
<div class="line_items">
  <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
</div>
<div class="row no_margin">
  <% if @order.adjustments.exists? || @order.line_item_adjustments.exists? || @order.shipment_adjustments.exists? %>
      <div class="row">

        <div class="col-md-9"></div>
        <div class="col-md-2"><h5><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></h5></div>
        <div class="col-md-1"><h5><%= order_form.object.display_item_total %></h5></div>
      </div>
      <%= render "spree/orders/adjustments" %>
  <% end %>

  <div class="row">

    <div class="col-md-9"></div>
    <div class="col-md-2 text-success"><h4>Total</h4></div>
    <div class="col-md-1 text-success"><h5><%= order_form.object.display_total %></h5></div>
  </div>
</div>