<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
    <div class="wishlist addcart_gift">
      <div class="col-md-1 wlist">
        <% if variant.images.length == 0 %>
            <%= link_to small_image(variant.product), variant.product %>
        <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
        <% end %>
      </div>
      <div class="col-md-1 wlist_id sp_crt">
        <%= link_to line_item.name, product_path(variant.product) %>
        <p><%= variant.options_text %></p>
        <% if line_item.insufficient_stock? %>
            <p>
              <span class="out-of-stock"> <%= Spree.t(:out_of_stock) %></span>
            </p>
        <% end %>
        <p>
          <span class="line-item-description" data-hook="line_item_description"> <%= line_item_description_text(line_item.description) %> </span>
        </p>
      </div>
      <div class="col-md-1 wlist_p"> <%= line_item.single_money.to_html %></div>
      <div class="col-md-1 sel_qty">
        <%= item_form.number_field :quantity, :min => 0, :class => "form-control addcart_select", :size => 5  %>
      </div>
      <div class="col-md-1 wlist_p">
        <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
        <% if !session[:event_id].present? %>
            &nbsp; &nbsp;<%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
        <% end %>
      </div>

    </div>
<% end %>