<style type="text/css">
    .text_6 {
        width: 35%;
    }
</style>

<% variant = line_item.variant -%>
<% wished_product =  @wishlist ? @wishlist.wished_products.where(variant_id: variant.id ).first : nil %>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
    <div class="row wishlist_popup_center shopping_cart_wishlist_list line-item">
      <div class="col-md-2">
        <div class="wishlist_img_block">
          <% if variant.images.length == 0 %>
              <%= link_to small_image(variant.product), variant.product %>
          <% else %>
              <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
        <p><%= variant.options_text %></p>
        <% if line_item.insufficient_stock? %>
            <p>
              <span class="out-of-stock"> <%= Spree.t(:out_of_stock) %></span>
            </p>
        <% end %>
        <p><%= line_item_description_text(line_item.description) %></p>
      </div>
      <div class="col-md-2">
        <% if wished_product %>
            <% if wished_product.quantity_purchased >= wished_product.quantity %>
                <p>Already Purchased</p>
            <% else %>
                <%= item_form.number_field :quantity, :min => 1,max: wished_product.quantity - wished_product.quantity_purchased , :class => "line_item_quantity text_6"  %>
            <% end %>
            
        <% else %>
            <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity text_6"  %>
        <% end %>
      </div>
      <div class="col-md-2"><p><%= line_item.single_money.to_html %></p></div>
      <div class="col-md-2"><p><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></p></div>
      <div class="col-md-1">
        <%#- if !session[:event_id].present? %>
        <%= link_to '#',id:  "delete_#{dom_id(line_item)}",title: 'remove' ,class: 'delete' do -%>
            <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        <%# end %>
      </div>
    </div>
<% end %>