#create_billing_address.row
  .col-md-6.event_left_block
    = form.fields_for :bill_address do |form|
      - address_type = 'billing'; address = @order.bill_address
      - if not @order.bill_address.persisted? and spree_current_user
        - bill_add = spree_current_user.billing_address
        - form.object.firstname = bill_add ? bill_add.firstname :  spree_current_user.first_name
        - form.object.lastname = bill_add ? bill_add.lasttname :  spree_current_user.last_name
        - form.object.address1  = bill_add ? bill_add.address1  :  spree_current_user.address
        - form.object.address2 = bill_add ? bill_add.address2   :  nil
        - form.object.country_id = bill_add ? bill_add.country_id :  spree_current_user.country_id || Spree::Address.default().country_id
        - form.object.state_id = bill_add ? bill_add.state_id :  spree_current_user.state_id
        - form.object.city  = bill_add ? bill_add.city  :  spree_current_user.city
        - form.object.zipcode  = bill_add ? bill_add.zipcode  : spree_current_user.zipcode
        - form.object.phone  = bill_add ? bill_add.phone  :  spree_current_user.phone
        - form.object.alternative_phone  = bill_add ? bill_add.alternative_phone  :  nil
      .row
        .col-md-12
          %form{:role => "form"}
            .col-md-6
              %label
              = form.text_field :firstname, class: 'form-control' ,placeholder: 'First Name*' ,required: true ,autofocus: true, pattern: "[a-zA-Z ]{1,}", title:"Only Alphabets"
            .col-md-6
              %label
              = form.text_field :lastname, class: 'form-control' ,placeholder: 'Last Name*' ,required: true, pattern: "[a-zA-Z ]{1,}", title:"Only Alphabets"
            .col-md-6
              %label
              = form.text_field :address1, class: 'form-control' ,placeholder: 'Street Address1*' ,required: true
            .col-md-6
              %label
              = form.text_field :address2, class: 'form-control' ,placeholder: 'Street Address2'
            .col-md-6
              %label
              = form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control',required: true}
            .col-md-6
              %label
              - if Spree::Config[:address_requires_state]
                = form.collection_select(:state_id, address.country.states, :id, :name, {:include_blank => "Select State"}, {class: 'form-control' })
            .col-md-6
              %label
              = form.text_field :city, class: 'form-control' ,placeholder: 'City*' ,required: true
            .col-md-6
              %label
              = form.text_field :zipcode, class: 'form-control' ,required: true ,placeholder: 'Zipcode*',pattern: "[0-9]{6}", title:"Invalid Zip Number"
            - unless Spree::Config[:alternative_shipping_phone]
              .col-md-6
                %label
                = form.phone_field :phone, class: 'form-control' ,placeholder: "Phone Number*"  ,required: true,pattern: "[0-9]{10}", title:"Invalid Phone Number"
              .col-md-6
                %label
                = form.phone_field :alternative_phone, class: 'form-control' ,placeholder: "Alt Phone Number",pattern: "[0-9]{10}", title:"Invalid Phone Number"
            - else
              .col-md-12
                %label
                = form.phone_field :alternative_phone, class: 'form-control' ,placeholder: "Alt Phone Number",pattern: "[0-9]{10}", title:"Invalid Phone Number"
            - if try_spree_current_user
              = hidden_field_tag 'save_user_address', '1'
            .col-md-12
              %label
              = submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success btn-block',disable_with: 'please wait..'
  .col-md-6.event_right_block
    - @event = @order.event
    %h4 Shipping Address
    - if @event and @event.ship_address
      - ship_address = @event.ship_address
      .row
        .col-md-12
          %ul.venue_ctc_details
            %li
              %span.glyphicon.glyphicon-user
              %b #{ship_address.full_name}
            %li #{ship_address.address1},#{ship_address.address2},
            %li #{ship_address.city}, #{ship_address.state.name},
            %li #{ship_address.country.name}, #{ship_address.zipcode}
            %li
              %span.glyphicon.glyphicon-earphone
              \&nbsp; #{ship_address.phone}
            - unless ship_address.alternative_phone.blank?
              %li
                %span.glyphicon.glyphicon-phone
                \&nbsp; #{ship_address.alternative_phone}
    -#%h4 Order Summary
    -#= render 'summary',order: @order
:javascript
  $("#order_bill_address_attributes_country_id").change(function(){
      country= $(this).val()
      $.ajax({
          type: "GET",
          url: "/country/get-states/"+country,
          success: function(json){
              $('#order_bill_address_attributes_state_id').empty()
              $.each(json, function(i, value) {
                  $('#order_bill_address_attributes_state_id').append($('<option>').text(value.name).attr('value', value.id));
              });
          }
      });
  });