- @event = Event.find(session[:event_id]) if session[:event_id].present?
- @event_template = Spree::Admin::Template.where(id: @event.template_id).first if @event
- @event_design = @event_template.designs.where(id: @event.design_id).first if @event_template
:css
  #eventDesignPreview {
   transform: scale(0.49);
    transform-origin: left top 0;
  }
#place_order.row
  .col-md-6.event_left_block
    - if @event_design
      .col-md-12
        #eventDesignPreview
          - c_design = @handlebars.compile(@event_design.content)
          = c_design.call(MPARTY: event_data_points(@event,@event_template)).html_safe
    .col-md-12
      - if @order.bill_address
        - bill_address = @order.bill_address
        %h4
          Billing Address
          = link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed?
        .row
          .col-md-12
            %ul.venue_ctc_details
              %li
                %span.glyphicon.glyphicon-user
                  %b #{bill_address.full_name}
              %li #{bill_address.address1},#{bill_address.address2},
              %li #{bill_address.city}, #{bill_address.state.name},
              %li #{bill_address.country.name}, #{bill_address.zipcode}
              %li
                %span.glyphicon.glyphicon-earphone
                &nbsp;#{bill_address.phone}
              -if bill_address.alternative_phone.present?
                %li
                  %span.glyphicon.glyphicon-phone
                  &nbsp;#{bill_address.alternative_phone}
      - if @event and @event.ship_address
        - shipp_address = @event.ship_address
        %h4.mtop20 Shipping Address
        .row
          .col-md-12
            %ul.venue_ctc_details
              %li
                %span.glyphicon.glyphicon-user
                  %b #{shipp_address.full_name}
              %li #{shipp_address.address1},#{shipp_address.address2},
              %li #{shipp_address.city}, #{shipp_address.state.name},
              %li #{shipp_address.country.name}, #{shipp_address.zipcode}
              %li
                %span.glyphicon.glyphicon-earphone
                &nbsp;#{shipp_address.phone}
              -if shipp_address.alternative_phone.present?
                %li
                  %span.glyphicon.glyphicon-phone
                  &nbsp;#{shipp_address.alternative_phone}
      - if @event and @event.ship_address
        - shipp_address = @event.ship_address
      .row.mtop20
        .col-md-12
          %b
            = Spree.t(:payment_information)
            = link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless @order.completed?
          - @order.payments.valid.each do |payment|
            .place_order_add= render payment

  .col-md-6.event_right_block
    .row
      .place_order_right
        .col-md-12
          %h4 Order Summary
          - @order.line_items.each do |item|
            .row.inv_wishlist
              .col-md-3
                - if item.variant.images.length == 0
                  = link_to small_image(item.variant.product), item.variant.product,width: 90
                - else
                  = link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product ,width: 90
              .col-md-6
                %h5= item.variant.product.name
                %p Quantity #{item.quantity }
                %p= item.single_money.to_html
              .col-md-2
                %h5= item.display_amount.to_html
        .col-md-12
          = render 'summary',order: @order
      .row.mtop20
        .col-md-12
          .col-md-4
            = link_to 'CANCEL','/cart',class: 'btn btn-primary',style:  'background: #cfcfcf;border: #cfcfcf;'
          .col-md-4
          .col-md-4
            = submit_tag Spree.t(:place_order), :class => 'btn btn-primary',disable_with: 'please wait..'