<div class="row">
  <h2 class="event_details"><%= Spree.t(:delivery) %></h2>
</div>

<%= form.fields_for :shipments do |ship_form| %>
    <h3 class="stock-location" data-hook="stock-location">
      <%= Spree.t(:package_from) %> <strong class="stock-location-name" data-hook="stock-location-name"><%= ship_form.object.stock_location.name %></strong>
    </h3>
    <div class="wishlist_main">
      <div class="wishlist_header del_cart"><table width="100%">
        <tr>
          <td>Item Description</td>
          <td><%= Spree.t(:price) %></td>
          <td><%= Spree.t(:qty) %></td>
        </tr>
      </table></div>
      <% ship_form.object.manifest.each do |item| %>
          <div class="wishlist">
            <div class="col-md-1 wlist">
              <%= small_image(item.variant) %>
            </div>
            <div class="col-md-1 wlist_id"><%= item.variant.name %></div>
            <div class="col-md-1 wlist_p del_cart_qty"><%= display_price(item.variant) %></div>
            <div class="col-md-1 wlist_pq del_cart_pri"><%= item.quantity %></div>
          </div>
      <% end %>
    </div>
    <%= submit_tag Spree.t(:save_and_continue), :class => 'btn_l btn_l-login shipping_add_btn' %>


    <h3><%= Spree.t(:shipping_method) %></h3>
    <% ship_form.object.shipping_rates.each do |rate| %>
        <div class="row">
          <div class="radio del_radio">
            <label>
              <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
              <span class="rate-name"><%= rate.name %></span>
              <span class="rate-cost"><%= rate.display_cost %></span>
            </label>
          </div>
        </div>
    <% end %>
<% end %>


<% if @differentiator.try(:missing?) %>
    <h3 class="stock-location" data-hook="stock-location">
      <%= Spree.t(:unshippable_items) %>
    </h3>
    <div class="wishlist_main">
      <div class="wishlist_header del_cart"><table width="100%">
        <tr>
          <td>Item Description</td>
          <td><%= Spree.t(:price) %></td>
          <td><%= Spree.t(:qty) %></td>
        </tr>
      </table></div>
      <% @differentiator.missing.each do |variant, quantity| %>
          <div class="wishlist">
            <div class="col-md-1 wlist">
              <%= small_image(variant) %>
            </div>
            <div class="col-md-1 wlist_id"><%= variant.name %></div>
            <div class="col-md-1 wlist_p del_cart_qty"><%= display_price(variant) %></div>
            <div class="col-md-1 wlist_pq del_cart_pri"><%= quantity %></div>
          </div>
      <% end %>
    </div>
<% end %>

<% if Spree::Config[:shipping_instructions] %>
    <div class="row">
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, Spree.t(:shipping_instructions) %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    </div>
<% end %>