#delivery.row
  .col-md-6.event_left_block
    = form.fields_for :shipments do |ship_form|
      .row.mleft10
        %h4.stock-location
          = Spree.t(:package_from)
          %strong.stock-location-name{"data-hook" => "stock-location-name"}= ship_form.object.stock_location.name
      .row
        .col-md-12.txt_bold.mleft10
          .col-md-3 Item
          .col-md-3
          .col-md-3 Quantity
          .col-md-3 Price
        - ship_form.object.manifest.each do |item|
          .col-md-12
            .deliveryDetails.mleft10{:style => "width:100%; height:auto; overflow:hidden;"}
              .col-md-3
                = small_image(item.variant)
              .col-md-3.mtop30= item.variant.name
              .col-md-3.mtop30= item.quantity
              .col-md-3.mtop30= item.line_item.display_amount.to_html
      .row.mtop20
        .col-md-12
          .col-md-12.txt_bold.mbottom10= Spree.t(:shipping_method)
          - ship_form.object.shipping_rates.each do |rate|
            .col-md-12
              %span{:onclick => "shippingcharges('#{rate.display_cost}')"}= ship_form.radio_button :selected_shipping_rate_id, rate.id
              %span.rate-name= rate.name
              %span.rate-cost= rate.display_cost
      - if Spree::Config[:shipping_instructions]
        .row.mtop20.mleft10
          .col-md-12
            = form.label :special_instructions, Spree.t(:shipping_instructions)
            %br/
            = form.text_area :special_instructions, :cols => 40, :rows => 7
      .row.mtop20
        .col-md-12
          = submit_tag Spree.t(:save_and_continue), :class => 'btn btn-success pull-right btn-lg'

    - if @differentiator.try(:missing?)
      .row.mtop20.mleft10
        %h4.stock-location= Spree.t(:unshippable_items)
      .row.mtop20
        .col-md-12.txt_bold
          .col-md-3 Item
          .col-md-3
          .col-md-3 Quantity
          .col-md-3 Price
        - @differentiator.missing.each do |variant, quantity|
          .col-md-12
            .deliveryDetails.mleft10{:style => "width:100%; height:auto; overflow:hidden;"}
              .col-md-3
                = small_image(variant)
              .col-md-3.mtop30= variant.name
              .col-md-3.mtop30= quantity
              .col-md-3.mtop30= variant.line_item.display_amount.to_html

  .col-md-6.event_right_block
    - @event = @order.event
    %h4 Shipping Address
    - if @event and @event.ship_address
      - ship_address = @event.ship_address
      .row
        .col-md-12
          %ul.venue_ctc_details
            %li
              %span.glyphicon.glyphicon-user
              %b #{ship_address.full_name}
            -if ship_address.address2.present?
              %li #{ship_address.address1},#{ship_address.address2},
            -else
              %li #{ship_address.address1},
            %li #{ship_address.city}, #{ship_address.state.name},
            %li #{ship_address.country.name}, #{ship_address.zipcode}
            %li
              %span.glyphicon.glyphicon-earphone
              \&nbsp; #{ship_address.phone}
            - unless ship_address.alternative_phone.blank?
              %li
                %span.glyphicon.glyphicon-phone
                \&nbsp; #{ship_address.alternative_phone}
    %h4
      Billing Address
      \#{link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed?}
    - if @event and @order.bill_address
      - bill_address = @order.bill_address
      .row
        .col-md-12
          %ul.venue_ctc_details
            %li
              %span.glyphicon.glyphicon-user
              %b #{bill_address.full_name}
            -if bill_address.address2.present?
              %li #{bill_address.address1},#{bill_address.address2},
            -else
              %li #{bill_address.address1},
            %li #{bill_address.city}, #{bill_address.state.name},
            %li #{bill_address.country.name}, #{bill_address.zipcode}
            %li
              %span.glyphicon.glyphicon-earphone
              \&nbsp; #{bill_address.phone}
            - unless bill_address.alternative_phone.blank?
              %li
                %span.glyphicon.glyphicon-phone
                \&nbsp; #{bill_address.alternative_phone}
    %h4 Order Summary
    = render 'summary',order: @order

:javascript
  shippingcharges = function(input){
  symbol = $(".subtotal").text().charAt(0)
  if($(".subtotal").text().length > 0){
     var subtotal = parseFloat($(".subtotal").text().replace(',', '').match(/\d+\.?\d*/))
  }
  else{
     var subtotal = 0
  }
  if($(".promotion").text().length > 0){
     var promotion = parseFloat($(".promotion").text().replace(',', '').match(/\d+\.?\d*/))
  }
  else{
     var promotion = 0
  }
  if($(".adjustment").text().length>0){
     var adjustment = parseFloat($(".adjustment").text().replace(',', '').match(/\d+\.?\d*/))
  }
  else{
     var adjustment = 0
  }
  if($(".tax").text().length > 0){
     var tax = parseFloat($(".tax").text().replace(',', '').match(/\d+\.?\d*/))
  }
  else{
     var tax = 0
  }
  if($(".shipping_amount").text().length > 0){
     var shipping_amount = parseFloat(input.replace(',','').match(/\d+\.?\d*/))
  }
  else{
     var shipping_amount = 0
  }
  var total = (subtotal + adjustment + promotion + tax + shipping_amount).toFixed(2)
  $(".shipping_amount").text(input)
  $(".order_total").text(symbol + total)
  }