<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<%= render template: 'spree/user_sessions/new' %>
<% if Spree::Config[:allow_guest_checkout] %>
    <div class="col-md-1"><h3 class="h3_or">or</h3></div>
    <div class="col-md-3">
      <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration'} do |f| %>
          <% if flash[:registration_error] %>
              <div class='flash error'><%= flash[:registration_error] %></div>
          <% end %>
          <div class="col-md-12">
            <label></label>
            <%= f.email_field :email, :class => 'form-control',placeholder: Spree.t(:guest_user_account) , required: true %>
          </div>
          <div class="col-md-12">
            <label></label>
            <%= f.submit Spree.t(:continue), :class => 'btn btn-primary btn-block' %>
          </div>
      <% end %>
    </div>
<% end %>