<% if spree_current_user %>
    <%= form_for Spree::WishedProduct.new do |f| %>
        <%= f.hidden_field :variant_id, :value => @product.master.id %>
        <% max_quantity = 10 %>
        <div class="col-md-12">
          <h4>Quantity</h4>
          <%= f.select :quantity ,options_for_select((1..10).to_a) ,{}  %>
        </div>
        <div class="col-md-12">
          <h4>Price</h4>
           <span class="price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
          <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-lg btn-primary btn-block add_qty_btn">
            <%= Spree.t(:add_to_wishlist) %>
          </button>
        </div>
    <% end %>

<% end %>