<% cache [I18n.locale, current_currency, @product] do %>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-xs-6 item_view_block">
          <%= render :partial => 'image' %>
        </div>
        <div class="col-xs-6">
          <h2><%= accurate_title %></h2>
          <h4>Description :</h4>
          <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
        </div>

        <div class="col-xs-6">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="col-xs-6">
          <%= render :partial => 'promotions' %>
        </div>

        <%= render 'wishlist_form' %>

      </div>
      <div class="row">
        <% if (@product.images + @product.variant_images).uniq.size > 1 %>
            <% @product.images.each do |i| %>
                <div class="col-md-1"><%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %></div>
            <% end %>
            <% if @product.has_variants? %>
                <% @product.variant_images.each do |i| %>
                    <% next if @product.images.include?(i) %>
                    <div class="col-md-1">
                      <%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </div>
      <hr>
    </div>
<% end %>

