<table class="table table-condensed">   
  <thead>
    <tr>
      <td class="col-sm-2 text-center">Date</td>
      <td class="col-sm-4 text-center">Name</td>
      <td class="col-sm-3 text-center">Location</td>
      <td class="col-sm-2 text-center">Host</td>
      <td class="col-sm-1 text-center">Attendees</td>
      <td class="col-sm-1 text-center">Action</td>
    </tr>
  </thead>

  <% object.each do |event| %>
  <tr>
    <td><%= event.starts_at %></td>
    <td><%= link_to event.name, event_path(event.id) %></td>
    <td><%= event.location %></td>
    <td><%= event.owner.email%></td>
    <td class="text-center"><%= event.attendees_count %></td>
    <td class="text-center">Add Guests</td>
  </tr>
  <% end %>   
</table>

<%= link_to 'Create Event', new_event_path %> 