<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@event, :html => {:multipart => true,remote: true}) do |f| %>
          <div class="col-md-6">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Event Name*' ,required: true,autofocus: true%>
          </div>
          <div class="col-md-6">
            <%= f.select :template_id, @event_templates.map{|wl| [wl.name, wl.id]}, {:include_blank => 'Event Type*'} ,class: 'form-control' ,required: true%>
            <%= f.hidden_field :design_id %>
          </div>
          <div class="col-md-6">
            <label></label>

            <%= f.text_field :host_name,value:  current_spree_user.full_name.titleize , class: 'form-control',required: true ,placeholder: 'Host Name*'%>
          </div>
          <div class="col-md-6">
            <label></label>
            <%= f.text_field :host_phone,value:  current_spree_user.phone, class: 'form-control',required: true ,placeholder: 'Host Phone*'%>
          </div>
          <div id="datepairExample">
            <div class="row no_margin">
              <div class="col-md-4">
                <label></label>
                <%= f.text_field :starts_at , class: 'form-control date start' ,required: true ,placeholder: 'Start Date*' %>
              </div>
              <div class="col-md-4">
                <label></label>
                <%= f.text_field :start_time , class: 'form-control time start' ,required: true ,placeholder: 'Start Time*' %>
              </div>
              <div class="col-md-4 nopleft">
                <div class="mtop20 btn_add_endtime"> <a href="#"> <span class="btn btn-xs btn-success glyphicon glyphicon-plus"></span> Add end time </a></div>
              </div>
            </div>
            <div id="endtime" class="row no_margin">
              <div class="col-md-4">
                <label></label>
                <%= f.text_field :ends_at , class: 'form-control date ends' ,placeholder: 'End Date*' %>
              </div>
              <div class="col-md-4">
                <label></label>
                <%= f.text_field :end_time , class: 'form-control time ends',placeholder: 'End Time*' %>
              </div>
              <div class="col-md-4 nopleft">

                <div class="mtop20 btn_remove_endtime"> <a href="#"> <span class="btn btn-xs btn-danger glyphicon glyphicon-minus"></span> Remove end time </a></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label></label>
            <select id="venue_type" class="form-control"  required>
              <option>Venue*</option>
              <option value="choose">Choose</option>
              <option value="custom">Custom</option>
            </select>
            <%if @venue %>
                <span id="venue_name"><i><%= @venue.name %></i></span>
            <% end %>
            <%=f.hidden_field :venue_id ,value: @venue ? @venue.id : '' %>
          </div>
          <div id="venue_dform">
            <div class="col-md-12">
              <label></label>
              <%= f.text_area :location, class: 'form-control',placeholder: 'Address*' ,rows: 1 ,value: @venue ? "#{@venue.address1} #{@venue.address2}" : '' %>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :city, class: 'form-control',placeholder: 'City*' ,value: @venue ? @venue.city : ''%>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :state, class: 'form-control',placeholder: 'State*',value: @venue ? @venue.state : ''%>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :country, class: 'form-control',placeholder: 'Country*' ,value: @venue ? @venue.country : ''%>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :zip, class: 'form-control',placeholder: 'Zip*' ,value: @venue ? @venue.zip : ''%>
            </div>
          </div>
          <div class="col-md-12">
            <label></label>
            <%= f.text_area :description, class: 'form-control',placeholder: 'Event Description*',rows: 2 ,required: true %>
          </div>
          <div class="col-md-12">
            <label>
              <%= f.check_box :is_private %>
              Is Private</label>
          </div>
          <div class="col-md-12">
            <label></label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              CREATE
            </button>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('#datepairExample .time').timepicker({
        showDuration: true,
        timeFormat: 'g:ia'
    });

    $('#datepairExample .date').datepicker({
        startDate: new Date(),
        format: 'yyyy-mm-dd',
        autoclose: true
    });

    $("#event_starts_at").change(function () {
      $('#event_ends_at').datepicker('setStartDate', this.value);
    })    

    $('#new_event #venue_type').bind('change', function () {
        if($(this).val() == 'choose'){
            $('#venue_dform').fadeOut()
            var sData = $('#new_event').serialize();
            $.ajax({
                type: "POST",
                url: "/events/select_venue",
                data: sData,
                success: function(res) {
                    window.location = '/venues?from_event=true'
                }
            });
        }else if($(this).val() == 'custom'){
            $('#venue_dform').fadeIn('slow')
            $('#venue_name').remove()
            $('#event_venue_id').val('')
            $('#event_location').val('')
            $('#event_city').val('')
            $('#event_state').val('')
            $('#event_country').val('')
            $('#event_zip').val('')
        }
    });

    /*event creation end time toggle option */
    $(".btn_add_endtime").click(function(e) {
        e.preventDefault()
        $("#endtime").fadeIn("slow");
        $(this).fadeOut("slow");
        $(".btn_remove_endtime").fadeIn("slow");
    });
    $(".btn_remove_endtime").click(function(e) {
        e.preventDefault()
        $("#endtime").fadeOut("slow");
        $(this).fadeOut("slow")
        $(".btn_add_endtime").fadeIn("slow");
        $('#event_ends_at').val('')
        $('#event_end_time').val('')
    });

    if($('#event_ends_at').val() != '' ){
        $("#endtime").show()
        $('.btn_add_endtime').hide()
        $(".btn_remove_endtime").fadeIn("slow");
    }

    if($('#event_venue_id').val() != ''){
        $('#venue_dform').show()
    }


    function invokeDesign(template_id,design_id){
        if(template_id != ''){
            $.ajax({
                url: "/events/update_designs",
                type: "GET",
                data: {"template_id" : template_id,design_id: design_id},
                beforeSend: function(){
                    $('#event_template_designs').fadeOut('slow')
                },
                success: function(data) {
                    // design_selection();
                    // manual_keyup();
                    updateTemplateDesignWithData()
                }
            });
        }
    }
    invokeDesign($("#event_template_id").val(),$("#event_design_id").val())
    $("#event_template_id").change(function(e){
        e.preventDefault();
        var template_id = $(this).val();
        invokeDesign(template_id,$("#event_design_id").val())
    });


    updateTemplateDesignWithData = function(){
        $ele = $('#event_template_designs')
        if($('#event_host_name').val() !== '') $ele.find('.eventDesignHostname').text($('#event_host_name').val())
        if($('#event_name').val() !== '') $ele.find('.eventDesignEventName').text($('#event_name').val())
        if($('#event_starts_at').val() !== '') $ele.find('.eventDesignEventDate').text($('#event_starts_at').val() +' '+ $('#event_start_time').val());
        if($('#event_description').val() !== '') $ele.find('.eventDesignEventText').find('td').text($('#event_description').val())
        $("#new_event #event_host_name").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignHostname').text('Host Name') : $ele.find('.eventDesignHostname').text($(this).val())
        })
        $("#new_event #event_name").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignEventName').text('Event name') : $ele.find('.eventDesignEventName').text($(this).val())
        })

        $("#new_event #event_starts_at,#new_event #event_start_time").change(function() {
            var eventDesignEventDate = $ele.find('.eventDesignEventDate')
            eventDesignEventDate.text($('#event_starts_at').val() +' '+ $('#event_start_time').val() );
        });

        $("#new_event #event_description").keyup(function() {
            var eventDesignEventDesc =  $ele.find('.eventDesignEventText').find('td');
            ($(this).val() == '') ? eventDesignEventDesc.text('Description') :eventDesignEventDesc.text($(this).val())
        });

    }



    // $('#datepairExample').datepair();
</script>