<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@event, :html => {:multipart => true,remote: true}) do |f| %>
          <%= f.hidden_field :is_private,value: f.object.is_private? ? 1 : 0 %>
          <div class="col-md-12 mbottom20">
            <div class="btn-group" role="group" aria-label="Default button group">
              <button type="button" id="switch_public" class="btn btn-default <%= f.object.is_private? ? '' : 'btn-success' %>" value="">Public</button>
              <button type="button" id="switch_private" class="btn btn-default <%= f.object.is_private? ? 'btn-success' : '' %>" value="">Private</button>
            </div>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Event Name*' ,required: true,autofocus: true%>
          </div>
          <div class="col-md-6">
            <%= f.select :template_id, @event_templates.map{|wl| [wl.name, wl.id]}, {:include_blank => 'Type*'} ,class: 'form-control' ,required: true%>
            <%= f.hidden_field :design_id %>
          </div>
          <div class="col-md-6 event_type_hide"  >
          </div>
          <div class="col-md-6 event_type_hide" >
            <label></label>
            <%= f.text_field :custom_event_type, class: 'form-control',placeholder: "Custom Event Type"%>
          </div>
          <div class="col-md-6">
            <label></label>
            <%= f.text_field :host_name,value:  current_spree_user.full_name.titleize , class: 'form-control',required: true ,placeholder: 'Host Name*'%>
          </div>
          <div class="col-md-6">
            <label></label>
            <%= f.text_field :host_phone,value:  current_spree_user.phone, class: 'form-control',required: true ,placeholder: 'Host Phone*'%>
          </div>
          <div id="datepairExample">
            <div class="row no_margin">
              <div class="col-md-6">
                <label></label>
                <%= f.text_field :starts_at , class: 'form-control date start' ,required: true ,placeholder: 'Start Date*' %>
              </div>
              <div class="col-md-6">
                <label></label>
                <%= f.text_field :start_time , class: 'form-control time start' ,required: true ,placeholder: 'Start Time*' %>
              </div>

              <div class="col-md-6">
                <label></label>
                <%= f.text_field :ends_at , class: 'form-control date end' ,placeholder: 'End Date*',required: true %>
              </div>
              <div class="col-md-6">
                <label></label>
                <%= f.text_field :end_time , class: 'form-control time end',placeholder: 'End Time*',required: true %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label></label>
            <select id="venue_type" class="form-control"  required>
              <option>Venue*</option>
              <option value="choose">Choose</option>
              <option value="custom">Custom</option>
            </select>
            <%=f.hidden_field :venue_id ,value: @venue ? @venue.id : '' %>
          </div>

          <div id="venue_dform">
            <div class="col-md-12">
              <label></label>
              <%= f.text_area :location, class: 'form-control',placeholder: 'Address*' ,rows: 1  %>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :city, class: 'form-control',placeholder: 'City*' %>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.collection_select :country, Spree::Country.order(:name), :name,:name, {selected: Spree::Address.default().country.name}, {class: 'form-control'}%>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.collection_select :state, Spree::Address.default().country.states, :name, :name, {}, {class: 'form-control'}  %>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :zip, class: 'form-control',placeholder: 'Zip*' %>
            </div>
          </div>


          <% if @venue.present? %>
              <div class="col-md-12 mtop20">
                <ul class="venue_ctc_details" id="venue_afterchoose">
                  <li> <span class="glyphicon glyphicon-map-marker"></span> <b><%= @venue.name %></b></li>
                  <li> <%= "#{@venue.address1}, #{@venue.address2}" %>, </li>
                  <li> <%= @venue.city  %>,<%= @venue.state  %>, </li>
                  <li> <%= @venue.country  %>, <%= @venue.zip %> </li>
                </ul>
              </div>
              <div id="venus_hidden_fields">
                <%= f.hidden_field :location,value: "#{@venue.address1} #{@venue.address2}" %>
                <%= f.hidden_field :city,value: @venue.city %>
                <%= f.hidden_field :state,value: @venue.state %>
                <%= f.hidden_field :country,value: @venue.country %>
                <%= f.hidden_field :zip,value: @venue.zip %>
              </div>
          <% end %>

          <div class="col-md-12">
            <label></label>
            <%= f.text_area :description, class: 'form-control',placeholder: 'Event Description*',rows: 2 ,required: true %>
          </div>



          <div class="col-md-12">
            <label></label>
            <button class="btn btn-lg btn-success btn-block btn_create" type="submit">
              CREATE
            </button>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">

    if($("#event_custom_event_type").val() == ""){
        $(".event_type_hide").hide();
    }
    $("#event_template_id").change(function(){
        $("#event_custom_event_type").val("")
        $(".event_type_hide").fadeOut("slow");
        selected=$("#event_template_id option:selected").text()
        if((selected == "custom") || (selected == "Custom")){
            $(".event_type_hide").fadeIn("slow");
            $("#event_custom_event_type").focus();
        }
    });

    $("#event_country").change(function(){
        country=$(this).val()
        $.ajax({
            type: "GET",
            url: "/country/get-states/"+country,
            success: function(json){
                $('#event_state').empty()
                $.each(json, function(i, value) {
                    $('#event_state').append($('<option>').text(value.name).attr('value', value.name));
                });
            }
        });
    });


    $("#new_event #switch_private").click(function() {
        $("#new_event #switch_public").removeClass('btn-success').addClass('btnn-default');
        $(this).removeClass('btn-default').addClass('btn-success');
        $(this).val('private');
        $("#new_event #switch_public").val('');
        $('#event_is_private').val(1)

    });

    $("#new_event #switch_public").click(function() {
        $(this).addClass('btn-success').removeClass('btnn-default');
        $("#new_event #switch_private").addClass('btn-default').removeClass('btn-success');
        $(this).val('public');
        $("#new_event #switch_private").val('');
        $('#event_is_private').val(0)
    });


    $('#new_event #datepairExample').on('change', function () {
        //$("#datetimepair").change(function(){
        if($('#event_starts_at').val() && $('#event_start_time').val() && $('#event_ends_at').val() && $('#event_end_time').val()){
            //alert("changed")
        }
    });
    //$('#venue_dform').hide()

    $("#event_starts_at").datepicker({
        startDate: new Date(),
        format: 'yyyy-mm-dd',
        autoclose: true
    }).on('changeDate', function (selected) {
        var startDate = new Date(selected.date.valueOf());
        if($("#event_starts_at").val() >  $('#event_ends_at').val()) {
            $('#event_ends_at').val("")
            $('#event_end_time').val("")
        }
        $('#event_ends_at').datepicker('setStartDate', startDate);
        var selectedDate = $('#event_starts_at').datepicker('getDate');
        var today = new Date();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        var today_time_in_sec = hours*3600 + minutes*60 + seconds
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);
        if(Date.parse(today) == Date.parse(selectedDate)){
            $('#event_start_time').timepicker('remove');
            hr = $('#event_start_time').val().split(":")[0]
            min = $('#event_start_time').val().split(":")[1]
            start_time_in_sec = hr*3600 + min*60
            if(today_time_in_sec > start_time_in_sec){
                var set_start_time = hours + ":" + minutes + ":" + seconds
                $('#event_start_time').val(set_start_time)
            }
            $('#event_start_time').timepicker({
                 'timeFormat': 'g:ia',
                'minTime': new Date(),
                'maxTime': '11:59:59pm',
                'forceRoundTime': true,
            });
        }else{
            $('#event_start_time').timepicker('remove');
            $('#event_start_time').timepicker({
                 'timeFormat': 'g:ia'
            });
        }
    });


    $("#event_ends_at").datepicker({
        startDate: new Date(),
        format: 'yyyy-mm-dd',
        autoclose: true
    }).on('changeDate', function (selected) {
        var startDate = new Date(selected.date.valueOf());
        var selectedDate = $('#event_ends_at').datepicker('getDate');
        var today = new Date();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        var today_time_in_sec = hours*3600 + minutes*60 + seconds
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);
        if($("#event_ends_at").val() == $("#event_starts_at").val()){
            $('#event_end_time').timepicker('remove');
            hr = $('#event_end_time').val().split(":")[0]
            min = $('#event_end_time').val().split(":")[1]
            end_time_in_sec = hr*3600 + min*60
            if(today_time_in_sec > end_time_in_sec){
                var set_end_time = hours + ":" + minutes + ":" + seconds
                $('#event_end_time').val($("#event_start_time").val())
            }
            $('#event_end_time').timepicker({
                 'timeFormat': 'g:ia',
                'minTime': $("#event_start_time").val(),
                'maxTime': '11:59:59pm',
                'forceRoundTime': true,
            });
        }else{
            $("#event_end_time").timepicker('remove');
            $('#event_end_time').timepicker({
                 'timeFormat': 'g:ia'
            });
        }
    });

    $('#event_start_time').change(function() {
        if($("#event_starts_at").val() == $("#event_ends_at").val() && $("#event_start_time").val() > $("#event_end_time").val() ){
            $("#event_end_time").timepicker('remove');
            $('#event_end_time').val($("#event_start_time").val())
            $('#event_end_time').timepicker({
                 'timeFormat': 'g:ia',
                'minTime': $("#event_start_time").val(),
                'maxTime': '11:59:59pm',
                'forceRoundTime': true,
            });
        }
    })


    if($('#venue_afterchoose').length){
        var event_start_date = $("#event_starts_at").val()
        var event_end_date = $("#event_ends_at").val()
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth()+1;
        var today_date = date.getFullYear() + '-' +
                ((''+month).length<2 ? '0' : '') + month + '-' +
                ((''+day).length<2 ? '0' : '') + day;

        if (event_start_date == today_date){
            $('#event_start_time').timepicker({
                'timeFormat': 'g:ia',
                'minTime': new Date(),
                'maxTime': '11:59:59pm',
                'forceRoundTime': true
            });
        }else{
            $('#event_start_time').timepicker();
        }
        if (event_end_date == today_date){
            $('#event_end_time').timepicker({
                'timeFormat': 'g:ia',
                'minTime': new Date(),
                'maxTime': '11:59:59pm',
                'forceRoundTime': true
            });
        }else{
            $('#event_end_time').timepicker();
        }
    }


    $('#new_event #venue_type').on('change', function () {
        if($(this).val() == 'choose'){
            selected_date=$("#event_starts_at").val()
            selected_time=$("#event_start_time").val()
            selected_end_date=$("#event_ends_at").val()
            selected_end_time=$("#event_end_time").val()
            if(selected_date == "" ) {
                $("#venue_type").val("Venue*")
                bootbox.alert("please select Start Date")
                return false;
            }
            else if(selected_time == "" ) {
                $("#venue_type").val("Venue*")
                bootbox.alert("please select Start Time ")
                return false;
            }
            // SELECT END DATE & END TIME
            else if(selected_end_date == "" ) {
                $("#venue_type").val("Venue*")
                bootbox.alert("please select End Date ")
                return false;
            }
            else if(selected_end_time == "" ) {
                $("#venue_type").val("Venue*")
                bootbox.alert("please select End Time ")
                return false;
            }

            $('#venue_dform').empty()
            $('#venue_dform').fadeOut()
            var sData = $('#new_event').serialize();
            $.ajax({
                type: "POST",
                url: "/events/select_venue",
                data: sData,
                success: function(res) {
                    Turbolinks.visit('/venues?from_event=true')
                }
            });
        }else if($(this).val() == 'custom'){

            $('#datepairExample .date').datepicker({
                startDate: new Date(),
                format: 'yyyy-mm-dd',
                autoclose: true
            });
            $('#venue_afterchoose').remove()
            $('#venue_dform').fadeIn('slow')
            $('#venue_name').remove()
            $('#event_venue_id').val('')
            $('#event_location').val('')
            $('#event_city').val('')
            //$('#event_state').val('')
            //$('#event_country').val('')
            $('#event_zip').val('')
            $("#venus_hidden_fields").empty()

        }
    });

    /*event creation end time toggle option */
    $(".btn_add_endtime").click(function(e) {
        e.preventDefault()
        $("#endtime").fadeIn("slow");
        $(this).fadeOut("slow");
        $(".btn_remove_endtime").fadeIn("slow");
    });
    $(".btn_remove_endtime").click(function(e) {
        e.preventDefault()
        $("#endtime").fadeOut("slow");
        $(this).fadeOut("slow")
        $(".btn_add_endtime").fadeIn("slow");
        $('#event_ends_at').val('')
        $('#event_end_time').val('')
    });

    if($('#event_ends_at').val() != '' ){
        $("#endtime").show()
        $('.btn_add_endtime').hide()
        $(".btn_remove_endtime").fadeIn("slow");
    }


    function invokeDesign(template_id,design_id){
        if(template_id != ''){
            $.ajax({
                url: "/events/update_designs",
                type: "GET",
                data: {"template_id" : template_id,design_id: design_id},
                beforeSend: function(){
                    $('#event_template_designs').fadeOut('slow')
                },
                success: function(data) {
                    // design_selection();
                    // manual_keyup();
                    updateTemplateDesignWithData()
                }
            });
        }
    }
    invokeDesign($("#event_template_id").val(),$("#event_design_id").val())
    $("#event_template_id").change(function(e){
        e.preventDefault();
        var template_id = $(this).val();
        invokeDesign(template_id,$("#event_design_id").val())
    });


    updateTemplateDesignWithData = function(){
        $ele = $('#event_template_designs')
        if($('#event_host_name').val() !== '') $ele.find('.eventDesignHostname').text($('#event_host_name').val())
        if($('#event_name').val() !== '') $ele.find('.eventDesignEventName').text($('#event_name').val())
        if($('#event_starts_at').val() !== '') $ele.find('.eventDesignEventDate').text($('#event_starts_at').val() +' '+ $('#event_start_time').val() +' '+ $('#event_ends_at').val() +' '+ $('#event_end_time').val());
        // if($('#event_description').val() !== '') $ele.find('.eventDesignEventText').find('td').text($('#event_description').val())
        $("#new_event #event_host_name").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignHostname').text('Host Name') : $ele.find('.eventDesignHostname').text($(this).val())
        })
        $("#new_event #event_name").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignEventName').text('Event name') : $ele.find('.eventDesignEventName').text($(this).val())
        })

        $("#new_event #event_custom_event_type").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignEventCustomType').text('') : $ele.find('.eventDesignEventCustomType').text($(this).val())
        })


        $("#new_event #event_starts_at,#new_event #event_start_time,#new_event #event_ends_at,#new_event #event_end_time").change(function() {
            var eventDesignEventDate = $ele.find('.eventDesignEventDate')
            eventDesignEventDate.text($('#event_starts_at').val() +' '+ $('#event_start_time').val() +' '+ $('#event_ends_at').val() +' '+ $('#event_end_time').val());
        });

        /*$("#new_event #event_description").keyup(function() {
         var eventDesignEventDesc =  $ele.find('.eventDesignEventText').find('td');
         ($(this).val() == '') ? eventDesignEventDesc.text('Description') :eventDesignEventDesc.text($(this).val())
         });*/

    }

</script>