<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@event, :html => {:multipart => true,remote: true}) do |f| %>
          <%= f.hidden_field :is_private,value: f.object.is_private? ? 1 : 0 %>
          <div class="col-md-12 mbottom20">
            <div class="btn-group" role="group" aria-label="Default button group">
              <button type="button" id="switch_public" class="btn btn-default <%= f.object.is_private? ? '' : 'btn-success' %>" value="">Public</button>
              <button type="button" id="switch_private" class="btn btn-default <%= f.object.is_private? ? 'btn-success' : '' %>" value="">Private</button>
            </div>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Event Name*' ,required: true,autofocus: true%>
          </div>
          <div class="col-md-6">
            <%= f.select :template_id, @event_templates.map{|wl| [wl.name, wl.id]}, {:include_blank => 'Type*'} ,class: 'form-control' ,required: true%>
            <%= f.hidden_field :design_id %>
          </div>
          <div class="col-md-6 event_type_hide"  >
          </div>
          <div class="col-md-6 event_type_hide" >
            <label></label>
            <%= f.text_field :custom_event_type, class: 'form-control',placeholder: "Custom Event Type"%>
          </div>
          <div class="col-md-6">
            <label></label>
            <%= f.text_field :host_name,value:  current_spree_user.full_name.titleize , class: 'form-control',required: true ,placeholder: 'Host Name*'%>
          </div>
          <div class="col-md-6">
            <label></label>
            <%= f.text_field :host_phone,value:  current_spree_user.phone, class: 'form-control',required: true ,placeholder: 'Host Phone*'%>
          </div>
          <div id="datepairExample">
            <div class="row no_margin">
              <div class="col-md-6">
                <label></label>
                <%= f.text_field :starts_at , class: 'form-control date start' ,required: true ,placeholder: 'Start Date*',readonly: true %>
              </div>
              <div class="col-md-6">
                <label></label>
                <%= f.text_field :ends_at , class: 'form-control date end' ,placeholder: 'End Date*',required: true,readonly: true %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label></label>
            <select id="venue_type" class="form-control"  required>
              <option>Venue*</option>
              <option value="choose">Choose</option>
              <option value="custom">Custom</option>
            </select>
            <%=f.hidden_field :venue_id ,value: @venue ? @venue.id : '' %>
          </div>

          <div id="venue_dform">
            <div class="col-md-12">
              <label></label>
              <%= f.text_area :location, class: 'form-control',placeholder: 'Address*' ,rows: 1  %>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :city, class: 'form-control',placeholder: 'City*' %>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.collection_select :country, Spree::Country.order(:name), :name,:name, {selected: Spree::Address.default().country.name}, {class: 'form-control'}%>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.collection_select :state, Spree::Address.default().country.states, :name, :name, {}, {class: 'form-control'}  %>
            </div>
            <div class="col-md-6">
              <label></label>
              <%= f.text_field :zip, class: 'form-control',placeholder: 'Zip*' %>
            </div>
          </div>


          <% if @venue.present? %>
              <div class="col-md-12 mtop20">
                <ul class="venue_ctc_details" id="venue_afterchoose">
                  <li> <span class="glyphicon glyphicon-map-marker"></span> <b><%= @venue.name %></b></li>
                  <li> <%= "#{@venue.address1}, #{@venue.address2}" %>, </li>
                  <li> <%= @venue.city  %>,<%= @venue.state  %>, </li>
                  <li> <%= @venue.country  %>, <%= @venue.zip %> </li>
                </ul>
              </div>
              <div id="venus_hidden_fields">
                <%= f.hidden_field :location,value: "#{@venue.address1} #{@venue.address2}" %>
                <%= f.hidden_field :city,value: @venue.city %>
                <%= f.hidden_field :state,value: @venue.state %>
                <%= f.hidden_field :country,value: @venue.country %>
                <%= f.hidden_field :zip,value: @venue.zip %>
              </div>
          <% end %>

          <div class="col-md-12">
            <label></label>
            <%= f.text_area :description, class: 'form-control',placeholder: 'Event Description*',rows: 2 ,required: true %>
          </div>



          <div class="col-md-12">
            <label></label>
            <button class="btn btn-lg btn-success btn-block btn_create" type="submit">
              CREATE
            </button>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">

    if($("#event_custom_event_type").val() == ""){
        $(".event_type_hide").hide();
    }
    $("#event_template_id").change(function(){
        $("#event_custom_event_type").val("")
        $(".event_type_hide").fadeOut("slow");
        selected=$("#event_template_id option:selected").text()
        if((selected == "custom") || (selected == "Custom")){
            $(".event_type_hide").fadeIn("slow");
            $("#event_custom_event_type").focus();
        }
    });

    $("#event_country").change(function(){
        country=$(this).val()
        $.ajax({
            type: "GET",
            url: "/country/get-states/"+country,
            success: function(json){
                $('#event_state').empty()
                $.each(json, function(i, value) {
                    $('#event_state').append($('<option>').text(value.name).attr('value', value.name));
                });
            }
        });
    });


    $("#new_event #switch_private").click(function() {
        $("#new_event #switch_public").removeClass('btn-success').addClass('btnn-default');
        $(this).removeClass('btn-default').addClass('btn-success');
        $(this).val('private');
        $("#new_event #switch_public").val('');
        $('#event_is_private').val(1)

    });

    $("#new_event #switch_public").click(function() {
        $(this).addClass('btn-success').removeClass('btnn-default');
        $("#new_event #switch_private").addClass('btn-default').removeClass('btn-success');
        $(this).val('public');
        $("#new_event #switch_private").val('');
        $('#event_is_private').val(0)
    });

        $('#datepairExample .start').datetimepicker({
            format:'Y/m/d  H:m',
            onShow:function( $input ){
                var hours = $input.getHours();
                var minutes = $input.getMinutes();
                var current_time = hours + ":" + minutes
                this.setOptions({
                    minDate: '0',
                    minTime: current_time
                })
            },
            onChangeDateTime:function($input){
                $('#datepairExample .end').val('')
                var date = $input.getDate();
                var month = $input.getMonth() + 1;
                var year = $input.getFullYear();
                var choose_date = year  + "/" + month + "/" + date;
                var today = new Date()
                var today_date = today.getDate();
                var today_month = today.getMonth() + 1;
                var today_year = today.getFullYear();
                var hours = today.getHours();
                var minutes = today.getMinutes();
                var current_date = today_year  + "/" + today_month + "/" + today_date;
                var current_time = hours + ":" + minutes
                if(choose_date == current_date){
                    this.setOptions({
                        minTime: current_time
                    })
                }
                else{
                    this.setOptions({
                        minTime: '00:00'
                    })
                }
            }
        });
        $('#datepairExample  .end').datetimepicker({
            format:'Y/m/d  H:m',
            onShow:function( ct ){
                var end_date_and_time = $('#datepairExample .start').val()
                var end_date  = end_date_and_time.split(' ')
                var ends_at = end_date[0]
                var end_time = end_date[2]
                this.setOptions({
                    minDate: ends_at ? ends_at : '0',
                    minTime: end_time
                })
            },
            onSelectDate:function($input){
                var end_date_and_time = $('#datepairExample .end').val()
                var end_date = end_date_and_time.split(' ')
                var ends_at = end_date[0]
                var start_date_and_time = $('#datepairExample .start').val()
                var start_date  = start_date_and_time.split(' ')
                var starts_at = start_date[0]
                var start_time = start_date[2]
                if(ends_at == starts_at){
                    this.setOptions({
                        minTime: start_time
                    })
                }
                else{
                    this.setOptions({
                        minTime: '00:00'
                    })
                }

            }
        });



    $('#new_event #venue_type').on('change', function () {
        if($(this).val() == 'choose'){
            selected_date=$("#event_starts_at").val()
            selected_end_date=$("#event_ends_at").val()
            if(selected_date == "" ) {
                $("#venue_type").val("Venue*")
                bootbox.alert("please select Start Date")
                return false;
            }
            // SELECT END DATE & END TIME
            else if(selected_end_date == "" ) {
                $("#venue_type").val("Venue*")
                bootbox.alert("please select End Date ")
                return false;
            }


            $('#venue_dform').empty()
            $('#venue_dform').fadeOut()
            var sData = $('#new_event').serialize();
            $.ajax({
                type: "POST",
                url: "/events/select_venue",
                data: sData,
                success: function(res) {
                    Turbolinks.visit('/venues?from_event=true')
                }
            });
        }else if($(this).val() == 'custom'){

            $('#venue_afterchoose').remove()
            $('#venue_dform').fadeIn('slow')
            $('#venue_name').remove()
            $('#event_venue_id').val('')
            $('#event_location').val('')
            $('#event_city').val('')
            //$('#event_state').val('')
            //$('#event_country').val('')
            $('#event_zip').val('')
            $("#venus_hidden_fields").empty()

        }
    });

    /*event creation end time toggle option */
    $(".btn_add_endtime").click(function(e) {
        e.preventDefault()
        $("#endtime").fadeIn("slow");
        $(this).fadeOut("slow");
        $(".btn_remove_endtime").fadeIn("slow");
    });
    $(".btn_remove_endtime").click(function(e) {
        e.preventDefault()
        $("#endtime").fadeOut("slow");
        $(this).fadeOut("slow")
        $(".btn_add_endtime").fadeIn("slow");
        $('#event_ends_at').val('')
        $('#event_end_time').val('')
    });

    if($('#event_ends_at').val() != '' ){
        $("#endtime").show()
        $('.btn_add_endtime').hide()
        $(".btn_remove_endtime").fadeIn("slow");
    }


    function invokeDesign(template_id,design_id){
        if(template_id != ''){
            $.ajax({
                url: "/events/update_designs",
                type: "GET",
                data: {"template_id" : template_id,design_id: design_id},
                beforeSend: function(){
                    $('#event_template_designs').fadeOut('slow')
                },
                success: function(data) {
                    // design_selection();
                    // manual_keyup();
                    updateTemplateDesignWithData()
                }
            });
        }
    }
    invokeDesign($("#event_template_id").val(),$("#event_design_id").val())
    $("#event_template_id").change(function(e){
        e.preventDefault();
        var template_id = $(this).val();
        invokeDesign(template_id,$("#event_design_id").val())
    });


    updateTemplateDesignWithData = function(){
        $ele = $('#event_template_designs')
        if($('#event_host_name').val() !== '') $ele.find('.eventDesignHostname').text($('#event_host_name').val())
        if($('#event_name').val() !== '') $ele.find('.eventDesignEventName').text($('#event_name').val())
        if($('#event_starts_at').val() !== '') $ele.find('.eventDesignEventDate').text($('#event_starts_at').val()  +'  '+ $('#event_ends_at').val() );
        // if($('#event_description').val() !== '') $ele.find('.eventDesignEventText').find('td').text($('#event_description').val())
        $("#new_event #event_host_name").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignHostname').text('Host Name') : $ele.find('.eventDesignHostname').text($(this).val())
        })
        $("#new_event #event_name").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignEventName').text('Event name') : $ele.find('.eventDesignEventName').text($(this).val())
        })

        $("#new_event #event_custom_event_type").keyup(function(){
            ($(this).val() == '') ?  $ele.find('.eventDesignEventCustomType').text('') : $ele.find('.eventDesignEventCustomType').text($(this).val())
        })


        $("#new_event #event_starts_at,#new_event #event_ends_at").change(function() {
            var eventDesignEventDate = $ele.find('.eventDesignEventDate')
            eventDesignEventDate.text($('#event_starts_at').val() +' '+ $('#event_ends_at').val() );
        });

        /*$("#new_event #event_description").keyup(function() {
         var eventDesignEventDesc =  $ele.find('.eventDesignEventText').find('td');
         ($(this).val() == '') ? eventDesignEventDesc.text('Description') :eventDesignEventDesc.text($(this).val())
         });*/

    }

</script>