<div class="col-md-6 event_right_block">
  <h4>Event Name</h4>
  <div id="large-image"> </div>
  <div class="gallery jcarousel-wrapper" id="myCarousel">
    <div class="jcarousel" data-jcarousel="false">
      <ul style="left: 0px; top: 0px;">
        <li> <a href="#"><%= image_tag('event1.png') %></a></li>
        <li><a href="#"><%= image_tag('event2.png') %></a></li>
        <li><a href="#"><%= image_tag('event3.png') %></a></li>
        <li><a href="#"><%= image_tag('event4.png') %></a></li>
        <li><a href="#"><%= image_tag('event1.png') %></a></li>
        <li><a href="#"><%= image_tag('event2.png') %></a></li>
        <li><a href="#"><%= image_tag('event3.png') %></a></li>
        <li><a href="#"><%= image_tag('event4.png') %></a></li>
      </ul>
    </div>
    <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
  </div>
  <!--/well-->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#large-image").html("<img src="+$(".jcarousel ul li ").eq(0).find('img').attr('src')+">");
        $(".jcarousel a").click(function(e){
            $("#large-image").html("<img src="+$(this).find('img').attr('src')+">");

        });

        $('#myCarousel').carousel({
            interval: 1000
        })

        $('#myCarousel').on('slid.bs.carousel', function() {
            //alert("slid");
        });

    });
</script>