<div id="events">
  <div class="page">
    <% if events.present? %>
        <% events.each do |e| %>
            <div class="col-md-3 event">
              <div class=" row nomargin event_margin">
                <div class="event_img">
                  <% if e.pictures.present? %>
                      <%=link_to(image_tag(e.pictures.first.image.url(:preview)), "events/#{e.id}", class: "thumbnail") %>
                  <% else %>
                      <%=link_to(image_tag("event_2.jpg"), "events/#{e.id}", class: "thumbnail") %>
                  <% end %>
                  <div class="event_name">
                    <p><%= e.name%></p>
                  </div>
                  <div class="event_details">
                    <div class="event_date"><span class="glyphicon glyphicon-calendar"></span>
                      <% if e.starts_at== Date.today %>
                          Today
                      <% else %>
                          <%= e.starts_at.strftime("%d/%m/%y")%>
                      <% end %>
                      <div class="pull-right"><%= e.start_time.try(:strftime, '%I:%M %p')%></div>
                    </div>
                    <div class="event_place">
                      <div class="pull-left">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <% if e.venue %>
                            <%= truncate(e.venue.name.camelcase ,length: 20) %>
                        <% else %>
                            <%= truncate(e.location.camelcase ,length: 20) %>
                        <% end %>
                      </div>
                      <!-- Only public events are allowed for joining a event -->

                      <% if policy(e).leave? %>
                          <div class="pull-right unjoin_btn" >
                            <%= link_to "Leave this Event", "/events/#{e.id}/disjoin" ,method: :delete%>
                          </div>
                      <% end %>
                      <% if policy(e).join? %>
                          <div class="pull-right join_btn" >
                            <%= link_to "Join", "/events/#{e.id}/join" ,method: :post%>
                          </div>
                      <% end  %>
                      <% if e.is_private? %>
                      <div class="pull-right text-info"> <span class="glyphicon glyphicon-lock"></span>Private</div><br>
                          <% end %>
                      <% if policy(e).allow_inv_request? %>
                          <div><%= link_to "Ask host to invite", "/events/#{e.id}/inv-request",class: "pull-right text-info ask_host_to_invite",remote: spree_current_user ? true :false %></div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
<%= paginate events ,params: {query: params[:query] }%>

