<div class="upComingEventContainer">
		<div class="upComingEventList">
		<% if events.present? %>
			<% events.each do |event| %>
					<div class="EventListBox">
						<ul class="clearfix">
							<li class="event">
								<div class="date">
									<% if event.starts_at == Date.today %>
										Today
									<% else %>
										<%= event.starts_at %>
									<% end %>
								</div>
								<% if event.owner.email == current_spree_user.email || event_type == "Public"%>
									<div class="title"><%= link_to event.name, event_path(event.id) %></div>
								<% else %>
									<div class="title"><%= link_to event.name, show_invitation_path(event.id) %></div>
								<% end %>
								<%= event.owner.email%>
								<% if event_type == "Public" %>
									<div class="options"><%= link_to 'Join', "#" %></div>
								<% else %>
									<% if event.owner.email == current_spree_user.email %>
										<div class="options"><%= link_to 'Add Guests', add_guests_path(:event_id => event.id) %></div>
									<% end %>
								<% end %>	
								<% if event.pictures.size > 0 %>
									<%= image_tag event.pictures.first.image_url(:thumb).to_s %>
								<% end %>	
							</li>
						</ul>
					</div>
			<% end %>
		<% else %>
			<p>You don't Have any <%= event_type %> Events</p>
		<% end %>  
		</div>
</div>