<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12">
      <%= render 'invite_form' %>
    </div>
  </div>
</div>

<div class="col-md-6 event_right_block">
  <div class="row">
    <% unless @wished_products.blank? %>
        <div class="inv_wislist_right">
          <div class="col-md-12">
            <h4>Wishlist</h4>
            <% @wished_products.each do |wish| %>
                <% variant = wish.variant
                   product = variant.product %>
                <div class="row inv_wishlist">
                  <div class="col-md-3">
                    <% if variant.images.length == 0 %>
                        <%= small_image(variant.product) %>
                    <% else %>
                        <%= image_tag variant.images.first.attachment.url(:small) %>
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <h5><%= product.name %></h5>
                    <p>Requested Quantity <%= wish.quantity %></p>
                  </div>
                  <div class="col-md-2">
                    <h5><%= number_to_currency(variant.price,unit: get_currency_symbol) %></h5>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 inv_addmore">
          <a href="<%=event_wishlist_path(event_id: @event.id) %>" id="inv_addmore_prdts">
            <div class="wishlist_add_btn"><span class="glyphicon glyphicon-plus"></span></div>
            <h4>Add More Products</h4>
          </a>
        </div>
    <% end %>
  </div>
</div>
