<% if @wishlist and @wishlist.wished_products.size > 0 %>
    <div class="col-md-6 wishlist_eventpreview" style="width:55%;">
      <h4>Wishlist</h4>
      <div class="event_wishlist_table">
        <div class="scroll_wishlist_table">
          <div class="row event_pre_wishlist_block mtop10 txt_bold">
            <div class="col-md-2"></div>
            <div class="col-md-3">DESCRIPTION</div>
            <div class="col-md-3">REQ QUANTITY</div>
            <div class="col-md-2">PURCHASED QUANTITY</div>
            <div class="col-md-1">PRICE</div>
          </div>

          <% @wishlist.wished_products.each do |wish| %>
              <%  variant = wish.variant  %>
              <% product = variant.product %>
              <div class="row wishlist_popup_center event_pre_wishlist_block">
                <div class="col-md-2">
                  <div class="wishlist_img_block">
                    <% if variant.images.size == 0 %>
                        <%= small_image(variant.product) %>
                    <% else %>
                        <%= image_tag variant.images.first.attachment.url(:small) %>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-3 mtop30">
                  <p><%= product.name %></p>
                </div>
                <div class="col-md-3 mtop30">
                  <p><%= wish.quantity %></p>
                </div>
                <div class="col-md-2 mtop30">
                  <p><%= wish.quantity_purchased %></p>
                </div>
                <div class="col-md-1 mtop30">
                  <p><%= number_to_currency(variant.price,unit: get_currency_symbol) %></p>
                </div>
              </div>
          <% end %>

        </div>
        <% if @event.allow_checkout?(spree_current_user) or params[:show_wishlist].present? %>
            <%= render 'wishlist/invitee_wishlist' %>
            <div class="row no_margin mbottom10">
              <button class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#yourfriendwishlist" data-dismiss="modal">
                <span class="glyphicon glyphicon-gift"></span>Checkout
              </button>
            </div>
        <% end %>

        <% if params[:show_wishlist].present? %>
            <script type="text/javascript">
                $('#yourfriendwishlist').modal('show');
            </script>
        <% end %>

        <% if policy(@event).invite? && @event.invites.count == 0 %>
            <div class="row no_margin mbottom10">
              <%= link_to event_wishlist_path(event_id: @event.id), class:"btn btn-primary btn-sm pull-right" do %>
                  <span class="glyphicon glyphicon-edit"></span> Edit Wishlist
              <% end %>
            </div>
        <% end %>
      </div>

    </div>
<% end %>