<% if @wishlist and @wishlist.wished_products.count > 0 %>
<h4>Wishlist:</h4>
<div class="event_wishlist_table">
  <div class="scroll_wishlist_table">
    <table class="table">
      <tbody>
      <tr class="row event_pre_wishlist_block mtop10 txt_bold">
        <th>&nbsp;</th>
        <th>Description</th>
        <th>Requested Quantity</th>
        <th>Purchased Quantity</th>
        <th>Price</th>
      </tr>
      <% @wishlist.wished_products.each do |wish| %>
          <%  variant = wish.variant  %>
          <% product = variant.product %>
      <tr class="row wishlist_popup_center event_pre_wishlist_block">
        <td><div class="wishlist_img_block">
          <% if variant.images.size == 0 %>
              <%= small_image(variant.product) %>
          <% else %>
              <%= image_tag variant.images.first.attachment.url(:small) %>
          <% end %>
        </div></td>
        <td class="txt_bold"><%= product.name %> </td>
        <td><%= wish.quantity %></td>
        <td><%= wish.quantity_purchased %></td>
        <td><%= number_to_currency(variant.price,unit: get_currency_symbol) %></td>
      </tr>
      <% end  %>
      </tbody>
    </table>
  </div>
</div>
    <% if @event.allow_checkout?(spree_current_user) or params[:show_wishlist].present? %>
        <%= render 'wishlist/invitee_wishlist' %>
        <div class="mright5 no_margin mbottom10 mtop5">
          <button class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#yourfriendwishlist" data-dismiss="modal">
            <span class="glyphicon glyphicon-gift"></span>Checkout
          </button>
        </div>
    <% end %>

    <% if params[:show_wishlist].present? %>
        <script type="text/javascript">
            $('#yourfriendwishlist').modal('show');
        </script>
    <% end %>

    <% if policy(@event).edit_wishlist? %>
        <div class="mright5 no_margin mbottom10 mtop5">
          <%= link_to event_wishlist_path(event_id: @event.id,from: from), class:"btn btn-primary btn-sm pull-right" do %>
              <span class="glyphicon glyphicon-edit"></span> Edit Wishlist
          <% end %>
        </div>
    <% end %>
<% end  %>