<% if wishlist.wished_products.size > 0 %>
<table id="wishlist">
			<thead>
			<tr>
				<th><%= Spree.t(:item_view) %></th>
				<th><%= Spree.t(:item_description) %></th>
				<th><%= Spree.t(:price) %></th>
				<th>Requested Quantity</th>
    		<th>Purchased Quantity</th>
				<th></th>
			</tr>
			</thead>
			<tbody id="line_items">
					<% wishlist.wished_products.each do |wish|
						variant = wish.variant
						product = variant.product %>
							<tr class="<%= cycle('', 'alt') %>">

								<td>
									<% if variant.images.length == 0 %>
											<%= small_image(variant.product) %>
									<% else %>
											<%= image_tag variant.images.first.attachment.url(:small) %>
									<% end %>
								</td>
								<td>
									<h4><%= product.name %></h4>
									<p><%= variant_options variant %></p>
									<%= truncate(product.description, :length => 100, :omission => "...") %>
								</td>
								<td>
									<%= number_to_currency(variant.price) %>
								</td>
								<td>
              		<%= wish.quantity %>
            		</td>
            		<td>
              		<%= wish.quantity_purchased %>
            		</td>
								<% if current_spree_user.id == @event.owner.id && wish.quantity_purchased == 0 %>
								<td>
								
									<%= link_to "Remove From Wishlist", remove_product_from_wishlist_path(:product_id => wish.id), :confirm => "Are you sure?"%>
								
								</td>
								<% end %>	
							</tr>
					<% end -%>
			</tbody>
		</table>
<% else -%>
	<p><%= Spree.t(:your_wishlist_is_empty) %></p>
<% end -%>