<% if @products.any? %>
<p>Select products to add wishlist</p>
<ul id="products" class="inline product-listing" data-hook>
  <% @products.each do |product| %>
    <% url = spree.product_url(product, :taxon_id => @taxon.try(:id)) %>
    <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
     
        <div class="product-image">
          <%= link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
        </div>
        <%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %>
        <span class="price selling" itemprop="price"><%= number_to_currency(product.price) %></span>

    </li>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% else %>
 <p>No products found</p>
<% end %>
