<div class="container">
  <% if @products.any? %>
      <%= image_tag 'shopping_banner.jpg' ,width: '100%' %>
      <h3>Add Products to Wishlist</h3>
      <% @products.in_groups_of(4, false) do |row_products| %>
          <div class="row">
            <% for product in row_products %>
                <% url = spree.product_url(product, :taxon_id => @taxon.try(:id)) %>
                <a href="<%= url %>" id="product_<%= product.id %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
                  <div class="col-md-1 wlist_cart">
                    <%=  large_image(product, :itemprop => "image")  %>
                    <br/>
                    <div class="col-md-1 wlist_cart_item">
                      <%= truncate(product.name, :length => 50) %>
                      <br><%= number_to_currency(product.price) %></div>
                  </div>
                </a>
            <% end %>
          </div>
      <% end %>
  <% else %>
      <p><strong>No products found</strong></p>
  <% end %>
</div>
