<div class="container-fluid">
  <div class="container" >
    <div class="row">
      <div class="create_event mtop20">
        <a href="<%= new_event_path %>" class="btn-createevent">Create Event</a>
      </div>
    </div>
    <div role="tabpanel" class="mtop20" id="timeline_tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"  class="<%= params[:scope].present? ? '' : 'active' %>">
          <%= link_to "I'm organizing",events_path,id: 'organizing_events_tab' %>
        </li>
        <li role="presentation" class="<%= params[:scope].eql?('attending') ? 'active' : '' %>">
          <%= link_to "I'm attending",events_path(scope: 'attending'),id: 'attending_events_tab' %>
        </li>
      </ul>

    <% if params[:scope].eql?('attending') %>
      <div class="mtop10 mbottom10 pull-right" >
        <button class="btn btn-warning" id="btnIncludeMaybe"><input type="checkbox" id="checkIncludeMaybe" value="maybe"> Display Maybe</button>
        <button id="btnIncludeRejected" class="btn btn-danger"> <input type="checkbox" id="checkIncludeRejected" value="reject"> Display Rejected </button>
      </div>
    <% end %>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
          <div class="row">
            <div class="col-md-12" id="listing_events">
              <div style="position:relative;">
                <%= render 'my_events',events: @events %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#btnIncludeMaybe").click(function() {
        $("#checkIncludeMaybe").trigger("click");
        $("#checkIncludeMaybe").click(function(e) {
            e.stopPropagation();
        });
    });
    $("#btnIncludeRejected").click(function() {
        $("#checkIncludeRejected").trigger("click");
        $("#checkIncludeRejected").click(function(e) {
            e.stopPropagation();
        });
    });
    var maybe_count = 0,reject_count = 0,data = ""
    $("#checkIncludeMaybe").click(function(){
         if(maybe_count == 0){
           maybe_count = 1
         }
        else{
             maybe_count = 0
         }
        if( maybe_count == 0 && reject_count == 0){
           data = "attending"
        }
        else if(maybe_count == 1 && reject_count == 0){
            data = "display_only_maybe"
        }
        else if(maybe_count == 0 && reject_count == 1){
            data = "display_only_rejected"
        }
        else{
            data = "display_both_maybe_rejected"
        }
        $.ajax({
            url: "/events",
            type: "GET",
            data: {scope: data}
        })
        //alert(data)
    })
    $("#checkIncludeRejected").click(function(){
        if(reject_count == 0){
            reject_count = 1
        }
        else{
            reject_count = 0
        }
        if( maybe_count == 0 && reject_count == 0){
            data = "attending"
        }
        else if(maybe_count == 1 && reject_count == 0){
            data = "display_only_maybe"
        }
        else if(maybe_count == 0 && reject_count == 1){
            data = "display_only_rejected"
        }
        else{
            data = "display_both_maybe_rejected"
        }
        $.ajax({
            url: "/events",
            type: "GET",
            data: {scope: data}
        })
        //alert(data)
    })

</script>
