<%= link_to "Create Event", new_event_path, class: "createEventbtn" %>

<h3>Upcoming Events</h3>
	<%= render :partial => "events_list", :locals => {events: @upcoming_all_events, event_type: "Upcoming"} %>

<h3>Past Events</h3>
	<%= render :partial => "events_list", :locals => {events: @previous_all_events, event_type: "Past"} %>


<h3>Your Invitations</h3>
	<%= render :partial => "events_list", :locals => {events: @invited_events, event_type: "Invited"} %>


<h3>Public Events</h3>
	<%= render :partial => "events_list", :locals => {events: @public_events, event_type: "Public"} %>
