<h3>Upcoming Events</h3>
<div class="upComingEventContainer">
    <div class="upComingEventList">
      <% @upcoming_all_events.each do |event| %>
          <div class="EventListBox">
            <ul class="clearfix">
              <li class="event">
                <div class="date"> <%= event.starts_at %></div>
                <div class="title"><%= link_to event.name, event_path(event.id) %></div>
                <%= event.owner.email%>
                <div class="options"><%= link_to 'Add Guests', add_guests_path(:event_id => event.id) %></div>
              </li>
            </ul>
          </div>
      <% end %>
    </div>
</div>

<h3>Past Events</h3>

<div class="pastEventContainer">
  <div class="pastEventList">
    <% @previous_all_events.each do |event| %>
        <div class="EventListBox">
          <ul class="clearfix">
            <li class="event">
              <div class="date"> <%= event.starts_at %></div>
              <div class="title"><%= link_to event.name, event_path(event.id) %></div>
              <%= event.owner.email%>
              <div class="options"><%= link_to 'Add Guests', add_guests_path(:event_id => event.id) %></div>
            </li>
          </ul>
        </div>
    <% end %>
  </div>
</div>