.container-fluide
  = image_tag 'event-design.png',width: '100%'
  %br/
  #sliderFrame
%br/
.container
  %br/
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  #DesignsBox{:style=>"disply:none;"}
  #designPreview
  .create_event
    .row
      %h2.event_details Enter Details
      / <button class="btn_cs btn_cs_change" onclick="populateSlider()"> Change Design</button>
      %button.btn_cs.btn_cs_change Change Design
    = form_for(@event, :html => {:multipart => true,class: 'form_margin'}) do |f|
      .row
        .form_ce_left
          %label Event Name*
          = f.text_field :name, class: 'form-control',placeholder: 'Event Name',required: true
        .form_ce_right
          %label Event Type*
          = f.select :template_id, @event_templates.map{|wl| [wl.name, wl.id]}, {:include_blank => 'Select event type'} ,class: 'form-control'
          = f.hidden_field :design_id
      .row
        .form_ce_left
          %label Host Name*
          = f.text_field :host_name, class: 'form-control',placeholder: 'Host Name',required: true
        .form_ce_right
          %label Host Phone*
          = f.text_field :host_phone, class: 'form-control',placeholder: 'Host Phone',required: true
      .row
        .form_ce_loc
          %label Location*
          = f.text_field :location, class: 'form-control form_ce_loc_ctrl',placeholder: 'Location',required: true
      .row
        .form_ce_loc
          %label Description*
          = f.text_area :description, class: 'form-control form_ce_loc_ctrl',required: true

      .row
        .form_ce_left
          %label Start Date* / Start Time*
          = f.text_field :starts_at , class: 'form-control glyphicon glyphicon-calendar datetimepicker' ,required: true
        .form_ce_right
          %label End Date* / End Time
          = f.text_field :ends_at , class: 'form-control glyphicon glyphicon-calendar datetimepicker'
      = f.fields_for @event.pictures.build do |p|
        .field
          = p.label :picture
          %br
            = p.file_field :image, :multiple => true, name: "picture[image]"
      -#.row
        .start_event
          .form_ce_left.start_event_lw
            %label Start Date*
            = f.date_field :starts_at, min: Date.today, class: 'form-control glyphicon glyphicon-calendar',:style => "width:230px"
          .form_ce_right.start_event_rw
            %label Start Time*
            -#%input#exampleInputEmail1.form-control.glyphicon.glyphicon-time{:required => "", :style => "width:120px", :type => "time"}/
            = f.time_field :start_time, :class => 'form-control glyphicon glyphicon-time', :style => "width:120px"
        .end_event
          .form_ce_left.start_event_lw
            %label End Date*
            = f.date_field :ends_at, min: Date.today, class: 'form-control glyphicon glyphicon-calendar',:style => "width:230px"
          .form_ce_right.start_event_rw
            %label End Time
            = f.time_field :end_time, :class => 'form-control glyphicon glyphicon-time', :style => "width:120px"


      .form_ce_left
        = f.check_box :is_private
        %label Is Private
      .checkbox.form_ce_right
        %button.btn_l.btn_l-login{:on => "", :type => "submit"} Create
:javascript
  $("#event_template_id").change(function(e){
    e.preventDefault();
    var template_id = $(this).val();
    $.ajax({
      url: "/events/update_designs",
      type: "GET",
      data: {"template_id" : template_id},
      success: function(data) {
        design_selection();
        manual_keyup();
      }
    });
  });

  design_selection = function(){
    $(".milestoneThumbnailBox").click(function(e){
      e.preventDefault();
      $('#event_design_id').val($(this).attr('data-design-id'));
    });
  }

  manual_keyup = function(){
     $('#event_name').keyup();
     $('#event_host_name').keyup();
     $('#event_host_phone').keyup();
     $('#event_starts_at').keyup();
     $('#event_location').keyup();
  }

  $('#event_name').keyup(function() {
      var keyed = $(this).val().replace(/\n/g, '<br/>');
      $(".eventName").html(keyed);
  });

  $('#event_host_name').keyup(function() {
      var keyed = $(this).val().replace(/\n/g, '<br/>');
      $(".eventHost").html(keyed);
  });

  $('#event_host_phone').keyup(function() {
      var keyed = $(this).val().replace(/\n/g, '<br/>');
      $(".eventHost").html(keyed);
  });

  $('#event_starts_at').keyup(function() {
      var keyed = $(this).val().replace(/\n/g, '<br/>');
      $(".eventTime").html(keyed);
  });

  $('#event_location').keyup(function() {
        var keyed = $(this).val().replace(/\n/g, '<br/>');
        $(".eventLocation").html(keyed);
  });


  $('.datetimepicker').datetimepicker();


  // Location Autocomplete
  var input = document.getElementById("event_location");
  var autocomplete = new google.maps.places.Autocomplete(input);
