<% if @event.venue_type != "virtual"  %>
    <div class="modal fade in" id="viewVenueLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-backdrop fade in"></div>
      <div class="modal-dialog modal4">
        <div class="modal-content">
          <div class="modal-body">
            <h4 class="txt_center">Venue Location  </h4>
            <div class="location_block">
            </div>
          </div>
        </div>
      </div>
    </div>
<% end  %>

<div class="container-fluid" style="background-color:#daf5fe;">
  <div class="row">
    <div class="col-md-12">
      <div  style="width:490px; margin:0 auto;">
        <div id="eventDesignPreview">
          <% if @event.fb_image.url.present? %>
              <%= image_tag @event.fb_image.url  %>
          <% else %>
              <% c_design = @handlebars.compile(@event_design.content) %>
              <%= c_design.call(MPARTY: event_data_points(@event,@event_template)).html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" style="background-color:#444444;">
  <div class="row">
    <div class="col-md-12 mtop10 mbottom10">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align:center;">
        <% eurl = @event.has_wishlist_with_products? ?  "/event/#{@event.id}/invite-with-wishlist" : "/event/#{@event.id}/invite-friends"  %>
        <%= link_to eurl, class:"btn btn-success btn-large" do %>
            <span class="glyphicon"></span> INVITE NOW
        <% end  %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mtop20">
        <div class="col-md-12 box">

          <div class="col-md-12">
            <table class="table table-bordered nomargin-bottom">
              <h4>Event Details:</h4>
              <tr>
                <td width="500">Additional details:</td>
                <td><i><%=simple_format(@event.description)%></i></td>
              </tr>
              <tr>
                <td>Date:</td>
                <td>
                  <% if @event.starts_at.strftime("%D") == @event.ends_at.strftime("%D")  %>
                      <% if @event.starts_at.strftime("%D") == Date.today.strftime("%D") %>
                          Today <%= "#{@event.starts_at.try(:strftime, '%I:%M %p')}" " - " "#{@event.ends_at.try(:strftime, '%I:%M %p')}"%>
                      <% else %>
                          <%= "#{@event.starts_at.strftime('%d/%m/%Y ')}"  "#{@event.starts_at.try(:strftime, '%I:%M %p')}" " - " "#{@event.ends_at.try(:strftime, '%I:%M %p')}" %>
                      <% end %>
                  <% else %>
                      <% if @event.starts_at.strftime("%D") == Date.today.strftime("%D") %>
                          Today <%= @event.starts_at.try(:strftime, '%I:%M %p')%> -
                          <%= "#{@event.ends_at.strftime('%d/%m/%Y ')}" "#{@event.ends_at.try(:strftime, '%I:%M %p')}"%>
                      <% else %>
                          <%= "#{@event.starts_at.strftime('%d/%m/%Y ')}" " " "#{@event.starts_at.try(:strftime, '%I:%M %p')}"%> -
                          <%= "#{@event.ends_at.strftime('%d/%m/%Y ')}"  ' ' "#{@event.ends_at.try(:strftime, '%I:%M %p')}"%>
                      <% end %>
                  <% end %>
                </td>
              </tr>
              <% if @event.venue_type != "virtual"  %>
                  <tr>
                    <td>Venue:</td>
                    <td>
                      <div class="col-md-11 nopadding">
                        <% if @event.venue.present? %>
                            <%= @event.venue.name %>,
                        <% end %>
                        <%=  @event.full_address %>
                      </div>
                      <a data-target="#viewVenueLocation" data-toggle="modal" href="#" class="pull-right event_map" title="show in google map"><img src="/assets/icon-gmap.png" width="30" height="30" alt=""/></a></td>
                  </tr>
              <% end  %>
            </table>
            <%= link_to event_design_edit_path(@event.id), class:"btn btn-primary btn-sm pull-right mtop10 mright5" do %>
                <span class="glyphicon glyphicon-edit"></span> Edit Design
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 box mtop20">
              <div class="col-md-6 wishlist_eventpreview" style="width:55%;">
                <% if policy(@event).show_wishlist? %>
                    <%= render  "show_wishlist",from: 'preview'  %>
                <% end %>
                <% if policy(@event).add_wishlist? %>
                    <h4>Wishlist:</h4>
                    <div class="wishlist-placeholder">
                      <div class="col-md-12 mtop70 text-center"><span class="glyphicon glyphicon-gift icon-big"></span> <br>
                        <%= link_to event_wishlist_path(event_id: @event.id,from: 'preview'), class:"btn btn-primary btn-sm" do %>
                            <span class="glyphicon glyphicon-edit"></span> Add Wishlist
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </div>

              <div class="col-md-6" style="width:45%;">
                <% unless @event.pictures.blank? %>
                    <h4>Photos:</h4>
                    <div class="gallery event_photos" id="myCarousel">
                      <div class="jcarousel event_photos_block" data-jcarousel="false">
                        <ul style="left: 0px; top: 0px;">
                          <% @event.pictures.each do |picture| %>
                              <li>
                                <a class="fancybox" href="<%=picture.image.url %>" rel="gallery1">
                                  <%= picture_image_tag(picture,:slide_show) %>
                                </a>
                              </li>
                          <% end%>
                        </ul>
                      </div>
                      <%if @event.pictures.count > 2%>
                          <a href="#" class="jcarousel-control-prev inactive event_photo_prev btn btn-success nopaddingTotal " data-jcarouselcontrol="true">‹</a>
                          <a href="#" class="jcarousel-control-next event_photo_next btn btn-success nopaddingTotal" data-jcarouselcontrol="true">›</a>
                      <%end%>
                    </div>
                    <%= link_to add_photos_event_path(@event,from: 'preview'), class:"btn btn-primary btn-sm pull-right mright5" do %>
                        <span class="glyphicon glyphicon-edit"></span> Change Photos
                    <% end %>
                <% else %>
                    <h4>Photos:</h4>
                    <div class="wishlist-placeholder">
                      <div class="col-md-12 mtop70 text-center"><span class="glyphicon glyphicon-picture icon-big"></span> <br>
                        <%= link_to add_photos_event_path(@event.id,from: 'preview'), class:"btn btn-primary btn-sm  mright5" do %>
                            <span class="glyphicon glyphicon-edit"></span> Add Photos
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var map_present = false
    $(".event_map").click(function () {
        if (map_present == false) {
            $.ajax({
                url: "/events/<%=@event.id%>/event_map",
                type: "get",
                success:function (e) {
                    $(".location_block").html(e);
                    map_present = true
                }
            })
        };
    });
</script>