-#- if @event_design
  .milestoneThumbnailBox
    - e_design = @handlebars.compile(@event_design.content)
    = e_design.call(MPARTY: event_data_points(@event)).html_safe

.container
  = image_tag 'event-preview.png',width: '100%'
  %br/
%br/
.container
  %br/
  .create_event.event_pre_bg
    .event_pre
      %br/
      .row
        .col-md-6
          %label Name
        .col-md-6= @event.name
      .row
        .col-md-6
          %label Host
        .col-md-6=@event.host_name
      .row
        .col-md-6
          %label Host Phone
        .col-md-6=@event.host_phone
      .row
        .col-md-6
          %label Description
        .col-md-6= @event.description.html_safe
      .row
        .col-md-6
          %label Is Private
        .col-md-6= @event.is_private
      .row
        .col-md-6
          %label Location
        .col-md-6=@event.location
      .row
        %iframe{frameborder: 0, height: 250, src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_API_KEY']}&q=#{@event.location}",
                style: "border:0;margin-left:38px", width: 550}
    .event_pre_guest
      %h3 Who's Coming
      .row
        .col-md-6.who_cuming.accepted_invt
          %label Accepted
          %span= @event.attendees('accepted')
      .row
        .col-md-6.who_cuming.maybe_invt
          %label Maybe
          %span= @event.attendees('maybe')
      .row
        .col-md-6.who_cuming.pending_invt
          %label Pending
          %span= @event.attendees('pending')
      .row
        .col-md-6.who_cuming.rejected_invt
          %label Rejected
          %span= @event.attendees('rejected')
  .create_event
    .row
    %h4.heading_h4 Wishlist
    - if @wish_list
      = render :partial => "show_wishlist", :locals => {:wishlist => @wish_list}


  .pictures_block
    %hr
    #pictures
      - unless @event.pictures.blank?
        - @event.pictures.each do |picture|
          = render 'pictures/picture',picture: picture

  - if @event.is_owner?(spree_current_user)
    .pictures_block{:style => "clear:both; margin-top:20px;"}
      = form_for Picture.new do |f|
        = f.label :image, "Upload pictures:"
        = hidden_field_tag :resource_id ,@event.id
        = hidden_field_tag :resource ,'event'
        = f.file_field :image,multiple: true, name: "picture[image]"
      %button#upload_photos.btn_upload.mtop.btn.btn-success UPLOAD EVENT PHOTOS

  -# Enable if progress bar is required
    %script#template-upload{:type => "text/x-tmpl"}
      .upload
        {%=o.name%}
        .progress
          .bar{:style => "width: 0%;"}

  %br/
  .comment_block
    .row
    %h4.heading_h4 Comments
    - if current_spree_user
      .row
        = form_tag comments_path ,remote: true,id: 'comment_form' do
          .col-xs-6.col-md-4.comment_img
            = image_tag 'avatar.png',width: '60px'
          .col-xs-12.col-md-8.comment_box
            = text_area_tag :content,'',id: 'comment_content',placeholder: "Write a comment...",cols: 5,rows: 3
            = hidden_field_tag :resource ,'event'
            = hidden_field_tag :resource_id ,@event.id
          = submit_tag 'Post',id: 'send_comment',class: 'comment_btn'
    .row.row-comment
    - unless @comments.blank?
      - @comments.each do |comment|
        = render 'comments/comment',comment: comment

:javascript
   var divwrapper="<div style='width:0; height:0; overflow:hidden;'></div>"
   $(document).ready(function() {
      $("#picture_image").wrap(divwrapper);
      $("#upload_photos").click(function(){ $('#picture_image').click();  });
   });
