%h1= @event.name
- if signed_in? && current_spree_user.id != @event.user_id
  .text-center= render 'attend_form'
%p
  %b Location:
  = @event.location
%p
  %b Host:
  = @event.owner.login
%p= @event.description
%b Who's Going:
%ol
  - @event.rsvps.each do |rsvp|
    %li= rsvp.user.login

- if spree_current_user.login.eql?(@event.owner.login)
  %b Invite friends

  = form_tag 'invite-friends', remote:true, autocomplete: "off", id:'invite-friend', authenticity_token: true do
    = text_area_tag "friend_emails" , nil, placeholder: "friend's email with comma separated", class:"inviteEmail required"
  .inviteButtons
    .inviteButton.ibInvite
      %a{:href => "#"} Invite


:javascript
  $('.ibInvite').unbind('click').click(function(e){
      e.preventDefault();
      $('form#invite-friend').submit();
  });