.milestoneThumbnailBox
  - e_design = @handlebars.compile(@event_design.content)
  = e_design.call(MPARTY: event_data_points(@event)).html_safe

%h1= @event.name
%p
  %b Name:
  = @event.name
%p
  %b Location:
  = @event.location
%p
  %b Host:
  = @event.owner.login
%p
  %b Description:
  = @event.description

%p
  %b Location:
  = @event.location

%p
  %b Is Private:
  = @event.is_private 

%p
  =link_to "View wishlist", '#', class: "UserResponseButtons"
  - if signed_in? and @event.owner.email == current_spree_user.email
    = link_to 'Add Guests', add_guests_path(:event_id => @event.id), class: "UserResponseButtons"

%h3 Who's Coming?
%p
  = link_to "Accepted - #{@event.attendees('accepted')}", '#', class: "ResponseButtons Green"
  = link_to "Maybe - #{@event.attendees('maybe')}", '#',class: "ResponseButtons Yellow"
  = link_to "Pending - #{@event.attendees('pending')}", '#',class: "ResponseButtons Gray"
  = link_to "rejected - #{@event.attendees('rejected')}",'#', class: "ResponseButtons Red"


%h2 Comments
= render "comments/comments"
= render "comments/form"