%h1= @event.name
- if current_spree_user
  - if signed_in? && current_spree_user.id != @event.user_id
    .text-center= render 'attend_form'
  - if current_spree_user.id == @event.user_id
    %p
      %b You are hosting this event
%p
  %b Name:
  = @event.name
%p
  %b Location:
  = @event.location
%p
  %b Host:
  = @event.owner.login
%p
  %b Description:
  = @event.description

%p
  %b Location:
  = @event.name

%b Who's Going:
%ol
  - @event.invites.each do |invite|
    %li= invite.recipient_email if invite.recipient_email

