<div class="container-fluid">
  <div class="container" >
    <!--Add more guests modal-->
    <% if current_spree_user and current_spree_user.id == @event.user_id  %>
        <div class="modal fade" id="add_more_guests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal2">
            <div class="modal-content modal_wishlist_bg"> <a href="/"><span class="glyphicon glyphicon-remove pull-right modal_wishlist_x" data-dismiss="modal"></span></a> <br>
              <div class="modal-header">
                <div class="title_trending">
                  <div class="title_bg"></div>
                  <div class="model_box_name">Add Guests</div>
                </div>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <%= render 'invite_form' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer"> </div>
            </div>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="title_name"><%=@event.name.titleize%></div>
    </div>

    <!--event description-->

    <div class="row event_margin">
      <% if @event_design %>
          <div class="col-md-12">
            <div class="inv_preview_bg">
              <div id="eventDesignPreview">
                <% c_design = @handlebars.compile(@event_design.content) %>
                <%= c_design.call(MPARTY: event_data_points(@event,@event_template)).html_safe %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="col-md-12 event_preview_right">
        <div class="row event_margin">
          <div class="col-md-3">
            <h4>Host Name</h4>
          </div>
          <div class="col-md-7">
            <h5><%= @event.host_name %></h5>
          </div>
          <% if current_spree_user and current_spree_user.id == @event.user_id  %>
              <div class="col-md-2"> <a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#add_more_guests"><span class="glyphicon glyphicon-plus"></span>Add Guests</a> </div>
          <% end %>

        </div>



        <div class="row">
          <div class="col-md-3"><h4>Description</h4></div>
          <div class="col-md-9"><h5><%=@event.description.camelcase%></h5></div>
        </div>

        <div class="row">
          <div class="col-md-3"><h4>Venue</h4></div>
          <% if @event.venue.present? %>
              <div class="col-md-9"><h5><%=@event.venue.name.camelcase%></h5></div>
          <% else %>
              <div class="col-md-9"><h5><%=@event.location %></h5></div>
          <% end %>
        </div>


        <% if current_spree_user and current_spree_user.id == @event.user_id  %>
            <div class="row count_btns_margin">
              <div class="col-md-2">
                <div class="inv_count_btn accept_count_btn"><span class="glyphicon glyphicon-ok-sign"></span></div>
                <div class="accept_count">
                  <h4><%= @event.attendees('accepted') %></h4>
                  <p><%= "accepted" %></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="inv_count_btn maybe_count_btn"><span class="glyphicon glyphicon-question-sign"></span></div>
                <div class="accept_count">
                  <h4><%= @event.attendees('maybe') %></h4>
                  <p><%= "may be" %></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="inv_count_btn pending_count_btn"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
                <div class="accept_count">
                  <h4><%= @event.attendees('pending') %></h4>
                  <p><%= "pending" %></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="inv_count_btn rejected_count_btn"><span class="glyphicon glyphicon-remove-sign"></span></div>
                <div class="accept_count">
                  <h4><%= @event.attendees('rejected') %></h4>
                  <p><%= "rejected" %></p>
                </div>
              </div>
            </div>
        <% end %>

      </div>
    </div>
    <!--event description end-->
    <!--location-->
    <div class="row">
      <div class="col-md-12">
        <h4>Location</h4>
        <div class="location_block">
          <% if @event.location.present? %>
              <iframe frameborder="0" height="165" width = 100% src="https://www.google.com/maps/embed/v1/place?key=
             <%= ENV['GOOGLE_API_KEY'] %>&q=<%= @event.location + @event.city  %> "></iframe>
          <% else %>
              <iframe frameborder="0" height="165" width = 100% src="https://www.google.com/maps/embed/v1/place?key=
             <%= ENV['GOOGLE_API_KEY'] %>&q=<%= @event.venue.address1 + @event.venue.city  %> "></iframe>
          <% end %>
        </div>
      </div>
    </div>



    <% if current_spree_user and current_spree_user.id == @event.user_id  %>
        <% if @wish_list %>
            <%= render :partial => "show_wishlist", :locals => {:wishlist => @wish_list} %>
        <% end %>
    <% end %>


    <!--event photos-->
    <% unless @event.pictures.blank? %>
        <div class="row">
          <div class="col-md-12">
            <h4>Photos</h4>
            <div class="gallery event_photos" id="myCarousel">
              <div class="jcarousel event_photos_block" data-jcarousel="false">
                <ul style="left: 0px; top: 0px;">
                  <% @event.pictures.each do |p| %>
                      <li><a class="fancybox" href="<%=p.image.url %>" rel="gallery1"><img src="<%=p.image.url(:slide_show)%>" alt="Image 1"></a></li>
                  <% end%>
                </ul>
              </div>
              <%#= link_to "","#",class:"jcarousel-control-prev inactive event_photo_prev", "data-jcarouselcontrol" => "true" %>
              <%#= link_to "","#",class:"jcarousel-control-next event_photo_next", "data-jcarouselcontrol" => "true" %>
              <a href="#" class="jcarousel-control-prev inactive event_photo_prev" data-jcarouselcontrol="true">‹</a>
              <a href="#" class="jcarousel-control-next event_photo_next" data-jcarouselcontrol="true">›</a>
            </div>
          </div>
        </div>
    <% end %>

    <!--event photos end-->
    <!--comments-->

    <div class="row">
      <div class="col-md-12">
        <h4>Comments</h4>
        <% if current_spree_user %>
            <%= form_tag comments_path ,remote: true,id: 'comment_form' do %>
                <%= hidden_field_tag :resource ,'event' %>
                <%= hidden_field_tag :resource_id ,@event.id %>
                <div class="row comment_block_btn">
                  <div class="col-md-9">
                    <%= text_area_tag :content,'',id: 'comment_content',cols: 95,rows: 2     %>
                  </div>
                  <div class="col-md-3">
                    <div id="submit"><%= submit_tag 'Comment',class: 'btn btn-lg btn-primary btn-block comment_btn_post ' %></div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="comment_block">
          <% if @comments.blank? %>
              <div id="no_comment">No comments</div>
          <% else%>
              <div id="comments">
                <div class="page">
                  <% unless @comments.blank? %>
                      <% @comments.each do |comment| %>
                          <%= render 'comments/comment',comment: comment %>
                      <% end %>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--comments end-->
  </div>
</div>
</div>
<%= paginate @comments %>


<script type="text/javascript">
    $("#submit").click(function(){
        $("#no_comment").empty();
    });
</script>