.container
  =image_tag 'event1.png',width: '100%'
  %br/
%br/
.container
  %br/
  .create_event.event_pre_bg
    .event_pre
      %br/
      .row
        .col-md-6
          %label Event Name
        .col-md-6= @event.name
      .row
        .col-md-6
          %label Host
        .col-md-6=@event.host_name
      .row
        .col-md-6
          %label Description
        .col-md-6= @event.description.html_safe
      .row
        .col-md-6
          %label Location
        - if @event.venue.present?
          .col-md-6
            = @event.venue.name
              (#{@event.full_address})
        - else
          .col-md-6
            = @event.full_address
      .row
        .col-md-6
          %label Date
        .col-md-6= @event.starts_at.to_date
    .event_pre_guest.recevied_inv_btn
      .row
        .col-md-6.who_cuming.accepted_invt.viaTurbo{"data-url" => spree.root_url + "invites/update_invitaion?invite_email=#{@invite_email}&&status=1&&token=#{@token}"}
          %label Attend
          %span.glyphicon.glyphicon-ok
      .row
        .col-md-6.who_cuming.maybe_invt.viaTurbo{"data-url" => spree.root_url + "invites/update_invitaion?invite_email=#{@invite_email}&&status=3&&token=#{@token}"}
          %label Maybe
          %span.maybe_icon ?
      .row
        .col-md-6.who_cuming.rejected_invt.viaTurbo{"data-url" => spree.root_url + "invites/update_invitaion?invite_email=#{@invite_email}&&status=2&&token=#{@token}"}
          %label Rejected
          %span.glyphicon.glyphicon-remove
  %br/
