%br

%h3 Invitaion to an Event of your friend #{@event.user.email} 

%p Event : #{@event.name}
%p Location : #{@event.location}
%p Date : #{@event.starts_at.to_date}

%div
	%p
		= link_to "Attend",  spree.root_url + "invites/update_invitaion?invite_email=#{@invite_email}&&status=1&&token=#{@token}", class: "UserResponseButtons Green"

		= link_to "Reject",  spree.root_url + "invites/update_invitaion?invite_email=#{@invite_email}&&status=2&&token=#{@token}", class: "UserResponseButtons Red"

		= link_to "May be",  spree.root_url + "invites/update_invitaion?invite_email=#{@invite_email}&&status=3&&token=#{@token}", class: "UserResponseButtons Yellow"