<div id="wishlist_header" class="row">
  <h1><%= @wishlist.name %></h1>
</div>
<table id="wishlist">
  <thead>
  <tr>
    <% if @wishlist.user == spree_current_user %>
        <th><%= Spree.t(:wishlist_actions) %></th>
    <% end -%>
    <th><%= Spree.t(:item_view) %></th>
    <th><%= Spree.t(:item_description) %></th>
    <th><%= Spree.t(:availability) %></th>
    <th><%= Spree.t(:date_added) %></th>
    <th><%= Spree.t(:price) %></th>
  </tr>
  </thead>
  <tbody id="line_items">

  <% if @wishlist.wished_products.size > 0 %>
      <% @wishlist.wished_products.each do |wish|
        variant = wish.variant
        product = variant.product %>
          <tr class="<%= cycle('', 'alt') %>">
                <td>
                  <%= form_for :order, :url => "/orders/populate" do |f| %>
                      <%= hidden_field_tag "variant_id", variant.id %>
                      <%= hidden_field_tag "quantity", 1 %>

                      <%= link_to Spree.t(:add_to_cart), '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" %>
                  <% end %>
                  
                  <br />
                </td>
            <td>
              <% if variant.images.length == 0 %>
                  <%= small_image(variant.product) %>
              <% else %>
                  <%= image_tag variant.images.first.attachment.url(:small) %>
              <% end %>
            </td>
            <td>
              <h4><%= product.name %></h4>
              <p><%= variant_options variant %></p>
              <%= truncate(product.description, :length => 100, :omission => "...") %>
            </td>
            <td>
              <%= variant.can_supply? ? Spree.t(:in_stock) : Spree.t(:out_of_stock) %>
            </td>
            <td>
              <%= wish.created_at.strftime "%m/%d/%Y" %>
            </td>
            <td>
              <%= number_to_currency(variant.price) %>
            </td>
          </tr>
      <% end -%>
  <% else -%>
      <tr>
        <td colspan="6"><%= Spree.t(:your_wishlist_is_empty) %></td>
      </tr>
  <% end -%>
  </tbody>
</table>