<div class="row mtop20">
  <% for venue in venues %>
      <div class="col-sm-6 col-md-4 venue">
        <div class="thumbnail">
          <%= cover_photo(venue,:preview) %>
          <div class="caption">
            <div class="row">
              <h4 class="col-md-6" style="text-align: left;" data-toggle="tooltip" data-original-title="<%=venue.name%>">
                <%= truncate(venue.name,:length => 18) %>
              </h4>
              <div class="col-md-6">
                <div id="rated_members_count" class="pull-right">
                  <%= overall_rating(venue.average_rating,venue.reviews.count)%>
                </div>
              </div>
            </div>
            <p class="venue_description_height">
              <%= venue.description.html_safe %>
            </p>
            <p>
              <%= link_to 'View More', venue_path(venue.id, :from_event => params[:from_event].present? ? params[:from_event] : "false"),class: 'btn btn-primary' %>

              <%if params[:from_event]%>
                  <%= link_to('Reserve Me','#',data: {id: venue.id}, class: 'btn btn-success reserve_this_venue_to_event pull-right')  %>
              <%end%>
            </p>
            <p></p>
          </div>
        </div>
      </div>
  <% end %>
</div>


