<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= cover_photo(venue,:preview) %>
    <div class="caption">
      <div class="row">
      <h3 class="col-md-6" style="text-align: left;">
        <%= venue.name %>
      </h3>
      <div class="col-md-6">

      <div id="rated_members_count" class="pull-right">
        <% if venue.rates.present? %>
          <!--  <p style="position:relative;font-size:12px;color:#878484;margin-top:2px;font-weight:normal;">Based on <%#= pluralize(venue.rates.size, 'Member') %></p> -->
          <br>
          <%= rating_for venue, nil, readonly: true %>&nbsp;<%= pluralize(venue.reviews.size, 'Review')%>
        <% else %>
          <%= rating_for venue, nil, readonly: true, noRatedMsg: "No Ratings available"%> <%= pluralize(venue.reviews.size, 'Review')%>
        <% end %>
      </div> 
      </div>
    </div>
      <p class="venue_description_height">
        <%= venue.description.html_safe %>
      </p>
      <p>
        <%= link_to 'View More', venue_path(venue.id, :from_event => params[:from_event].present? ? params[:from_event] : "false"),class: 'btn btn-primary' %>

        <%if params[:from_event]%> 
          <%= link_to('Add this Venue to Event',new_event_path(venue_id: venue.id),data: {id: venue.id}, class: 'btn btn-primary add_this_venue_to_event') if params[:from_event] %>
        <%end%>
        <span class="pull-right">
          <%=number_to_currency(venue.price_min, unit: get_currency_symbol)%> - <%= number_to_currency(venue.price_max, unit: get_currency_symbol)%>
        </span>
      </p>
      <p></p>
    </div>
  </div>
</div>

<style type="text/css">
img.raty-cancel {
  display: none;
}
</style>