.col-sm-6.col-md-4
  .thumbnail
    = cover_photo(venue,:preview)
    .caption
      %h3= venue.name
      %p= venue.description.html_safe
      %p
        = link_to 'View More', venue_path(venue.id, :from_event => params[:from_event].present? ? params[:from_event] : false),class: 'btn btn-primary'
        = link_to('Add this Venue to Event',new_event_path(venue_id: venue.id),class: 'btn btn-primary') if params[:from_event]