<% if @available %>
Turbolinks.visit("/events/new?venue_id=<%= @venue.id %>")
<%else%>
// bootbox.alert("This Venue is not available for your Scheduled Date '<%=@event.starts_at%>'")
bootbox.dialog({
    title: "'<%= @venue.name %>' is not available",
    message: "<div class='alert alert-warning' role='alert'>This Venue is not available for your Scheduled Date (<%= l @event.starts_at %>)" +
              "<p>Please click on get suggestions button to look for similar venues.</p>" +
              "</div>",
    buttons: {
        warning: {
            label: '<span class="glyphicon glyphicon-chevron-left"></span> Back to Event',
            className: "btn-warning",
            callback: function () {
                Turbolinks.visit("/events/new")
            }
        },
        success: {
            label: "Get Suggestions",
            className: "btn-success",
            callback: function () {
                Turbolinks.visit("/venues?from_event=true&venue_id= <%= @venue.id %>")
            }
        }
    }
 });
<%end%>	