.container-fluid
  .container-fluid.container_stlye
    .row.mtop30
      .col-md-3
        #venueFilter.col-md-12.well
          = form_tag venues_path,method: :get do
            .input-group
              %input.form-control{value: params[:query],placeholder: params[:query] || 'Find by city or name', type: "text",name: 'query',id: 'search_query'}/
              = hidden_field_tag(:from_event,true)  if params[:from_event].present?
              %span.input-group-btn
                %button.btn.btn-default{:type => "button"}
                  %span.glyphicon.glyphicon-search
          = render 'left_filters'
      #venueResult.col-md-9
        .row
          .col-md-12
            .col-md-4
              Total
              %span.txt_bold{id: 'venues_result_count'} #{@venues.size}
              Venues matching
            .col-md-3.pull-right
              = select_tag :relevance, options_for_select([['Price(Low to High)','price_min asc'],['Price(High to Low)','price_min desc'],
                                                            ['Rating(Low to High)','rating-desc'],['Rating(High to Low)','rating-asc']]),id: 'venues_by_relevance',class: 'form-control'
        .row.mtop5.mbottom10
          .col-md-12
            .col-md-12
              .filter-label-panel
                -#%span.label.label-default
                  abids
                  %span.glyphicon.glyphicon-remove
                -#%span.label.label-default
                  alwal
                  %span.glyphicon.glyphicon-remove
                %span.pull-right
                  = link_to 'clear all',venues_path(query: params[:query])
        #venue_filter_results
          - unless @venues.blank?
            = render 'venues',venues: @venues