.container-fluid
  .container-fluid.container_stlye
    .row.mtop30
      .col-md-3
        #venueFilter.col-md-12.well
          = form_tag venues_path,method: :get do
            .input-group
              %input.form-control{value: params[:query],placeholder: params[:query] || 'Find by city or name', type: "text",name: 'query',id: 'search_query'}/
              = hidden_field_tag(:from_event,true)  if params[:from_event].present?
              %span.input-group-btn
                %button.btn.btn-default{:type => "button"}
                  %span.glyphicon.glyphicon-search
          = render 'left_filters'
      #venueResult.col-md-9
        .row
          .col-md-12
            .col-md-4
              Total
              %span.txt_bold{id: 'venues_result_count'} #{@venues.size}
              Venues matching
            .col-md-3.pull-right
              %select.form-control
                %option Price (Low to High)
                %option Price (High to Low)
                %option Discount
                %option Best Venues
        .row.mtop5.mbottom10
          .col-md-12
            .col-md-12
              -#.filter-label-panel
                %span.label.label-default
                  abids
                  %span.glyphicon.glyphicon-remove
                %span.label.label-default
                  alwal
                  %span.glyphicon.glyphicon-remove
                %span.pull-right
                  %a{:href => "#"} clear all
        #venue_filter_results
          - unless @venues.blank?
            = render 'venues',venues: @venues

:javascript
  $(document).on('click', '#EventType .event_types,#VenueType .venue_types,#NoOfPeople .number_of_people,#Facilities .venue_facilities', function(e) {
     var event_types = $('input:checkbox:checked.event_types').map(function () {
                        return this.value;
                    }).get();
     var venue_types = $('input:checkbox:checked.venue_types').map(function () {
                      return this.value;
                  }).get();
     var number_of_people = $('input:checkbox:checked.number_of_people').map(function () {
                    return this.value;
                }).get();
     var facilities = $('input:checkbox:checked.venue_facilities').map(function () {
        return this.value;
     }).get();
     var search_query =  $('#search_query').val()
     var number_of_people = $('input[name=number_of_people]:checked').val();
     $.ajax({
        url: '/venues',
        type: "get",
        data: {query: search_query,event_types: event_types,venue_types: venue_types,number_of_people: number_of_people,facilities: facilities},
        dataType : 'script',
        beforeSend: function(e){  $('.loading-indicator').fadeIn('slow') },
        success:function (e) {  $('.loading-indicator').hide()  }
     })
  })