.container.events_all_bg
  .row.search_bg
    .venue_block
      %h1 Find Your Venue
      .form-group{:style => "position:relative;"}
        = form_tag venues_path,method: :get do
          %input.form_search{:placeholder => 'Search by Name or City or State or Zip', :type => "search" ,class: "event_search ",name: 'query',value: params[:query]}/
          %button.venue_src_icon
            %span.glyphicon.glyphicon-search.pull-left
          = hidden_field_tag(:from_event,true)  if params[:from_event].present?
        = render 'adv_search_form'
  - if params[:from_event]
    .row
      .col-md-12.ptop
        =link_to('<span class="glyphicon glyphicon-chevron-left"></span> Back to create Event'.html_safe, new_event_path,class: 'btn btn-warning')
  #venues_list
    - if params[:query].present?
      %h2 Search Results
    - elsif params[:venue_id].present?
      %h2 Suggested Venues
    - else
      %h2 Top Venues
    #all_venues.row
      - unless @venues.blank?
        = render 'venues',venues: @venues
    = paginate @venues ,params: {query: params[:query] ,venue_id: params[:venue_id],from_event: params[:from_event]}
- if params[:query].present? or params[:venue_id].present?
  :javascript
    $('html, body').animate({
        scrollTop: $("#venues_list").offset().top
    }, 1500);

