<style type="text/css">
    /*FIX IMAGE SIZE FOR CAROUSEL*/
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        display: block;
        line-height: 1;
        height: 410px;
        width: 1000px;
    }

    /* FIX IMAGE SIZE FOR GALLERY TAB.*/
    .fix_image_size > a > img
    {
        height: 165px;
        width: 220px;
    }
    .fix_image_size{height: 180px}
    .hide-class{display: none;}
</style>
<div id="wrapper">
  <div class="container-fluid">
    <div class="container container_stlye" id="venue">
      <h3 class="t_left"><%=@venue.name.titleize%></h3>
      <%= hidden_field_tag :venue_id,@venue.id %>
      <div id="carousel-example-generic" class="carousel slide venue_slider" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% if @pictures.blank? %>
              <div class="item">
                <%= image_tag 'venue_1.jpg',width: 600,height: 500 %>
                <!-- <div class="carousel-caption"> venue three </div> -->
              </div>
          <% else %>
              <% @pictures.each_with_index do |picture, index|%>
                  <div class="item" id="venue_picture" >
                    <img src="<%=picture.image.url%>" alt="..."  width="600" height="500" >
                    <!-- <div class="carousel-caption"> Picture <%#= index+1%> </div> -->
                  </div>
              <%end%>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <%@pictures.each_with_index do |picture_dot, index|%>
                    <li data-target="#carousel-example-generic" data-slide-to="<%=index+1%>"></li>
                <%end%>
              </ol>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a> </div>
      <div class="venue_right" id="venue_calendar_style">
        <div>
          <div id="calendar" style="width: 100%;border:2px solid #cccccc;background-color: #fff;"></div>
        </div>
        <div class="row">
          <div class="col-md-12 ptop">

          </div>
        </div>
      </div>
      <div class="venue_tab_content">
        <div class="row pull-right">
          <!-- <div class="col-md-2"></div> -->
          <% if (params[:from_event].present? && params[:from_event]!= "false") && current_spree_user.present? %>
              <div class="col-md-10">
                <%#= link_to "Venues List", venues_path(:from_event => params[:from_event].present? ? params[:from_event] : "false"), {:class => "btn btn-success"}%>
                <%= link_to "Reserve Me", new_event_path(venue_id: @venue.id), {:class => "add_this_venue_to_event btn btn-success"}%>
              </div>
          <% else %>
              <div class="col-md-10">
                <%#= link_to "Venues List", venues_path, {:class => "btn btn-success"}%>
              </div>
          <% end %>
        </div>
        <h4 class="review_star">Overall Rating</h4>
        <div id="overall_rating">
          <%= overall_rating(@venue.average_rating,@venue.reviews.count) %>
        </div>
        <br>
        <ul class="nav nav-tabs" role="tablist" id="myTab">
          <li role="presentation" class="active"><a href="#Locations" role="tab" data-toggle="tab">Gallery</a></li>
          <li role="presentation"><a href="#Reviews" role="tab" data-toggle="tab">Reviews</a></li>
          <li role="presentation"><a href="#About" role="tab" data-toggle="tab">About</a></li>
          <li role="presentation"><a href="#ContactDetails" role="tab" data-toggle="tab" class="venue_map_request">Contact Details</a></li>
        </ul>
        <div class="tab-content venue_tab_margin">
          <div role="tabpanel" class="tab-pane fade in" id="About">
            <div class="row no_margin mtop5">
              <div class="col-md-12"> <b>Type of Venue:</b> &nbsp;
                <%unless @type_of_venues.blank?%>
                    <%= @type_of_venues.join(',')%>
                <%else%>
                    Not Available. Please Contact Management.
                <%end%>
              </div>
            </div>

            <div class="row no_margin mtop5">
              <div class="col-md-12"> <b>Types of Events:</b> &nbsp;
                <% if @venue.events.exists?%>
                    Birthdays, Marriages, Receptions, etc.
                <%else%>
                    Birthdays, Marriages, Receptions.
                <%end%>
              </div>
            </div>
            <div class="row no_margin mtop5">
              <div class="col-md-12"> <b>Range:</b> &nbsp;
                <%=number_to_currency(@venue.price_min, unit: get_currency_symbol)%>
                <%if @venue.price_max.present?%>
                    - <%= number_to_currency(@venue.price_max, unit: get_currency_symbol)%>
                <%end%>
              </div>
            </div>
            <div class="row no_margin mtop5">
              <div class="col-md-12"> <b>Description:</b> &nbsp;
                <%= @venue.description%>
              </div>
            </div>
            <div class="row no_margin mtop5">
              <div class="col-md-12 pull-left"><b >Seating Type and Capacity:</b> &nbsp;
              </div>
              <%unless @venue.venue_seating_types.blank?%>
                  <% @venue.venue_seating_types.each do |seating_type| %>
                      <div class="col-md-3 mtop10" align="center">
                        <a class="fancybox" href="<%= seating_type.seating_image.url%>" rel="Seating" title="<%=seating_type.name%>">
                          <img src="<%= seating_type.seating_image.url(:thumb) %>" class="img-rounded">
                        </a>
                        <h4><%= seating_type.name%></h4>
                        <h4>
                          <%if seating_type.capacity_min.present?%>
                              Min:<%= seating_type.capacity_min%>
                          <%else%>
                              <h4 style="color:#fff">range</h4>
                          <%end%>
                          <%if seating_type.capacity_max.present?%>
                              Max:<%=seating_type.capacity_max%>
                          <%else%>
                              <h4 style="color:#fff">range</h4>
                          <%end%>
                        </h4>
                      </div>
                  <%end%>
              <%end%>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="ContactDetails">
            <div class="row no_margin">
              <div class="col-md-4">
                <br>
                <ul class="venue_ctc_details">
                  <li><b><%=@venue.name.titleize%></b></li>
                  <li><%=@venue.address1%>,
                    <%unless @venue.address2.blank?%>
                        <%= @venue.address2 %>,
                    <%end%>
                    <%=@venue.city%></li>
                  <li><%=@venue.state%>,<%=@venue.country%></li>
                  <li><%=@venue.zip%></li>
                  <li><span class="glyphicon glyphicon-envelope"></span> &nbsp; <%=@venue.email%></li>
                  <% if @contacts.present? %>
                      <% if @land_numbers.present? %>
                          <li><span class="glyphicon glyphicon-earphone"></span> &nbsp; <%= @land_numbers.join(",") %></li>
                      <% end %>
                      <% if @mobile_numbers.present? %>
                          <li><span class="glyphicon glyphicon-phone"></span> &nbsp; <%= @mobile_numbers.join(",") %></li>
                      <% end %>
                      <% if @contact_emails.present? %>
                          <li><span class="glyphicon glyphicon-envelope"></span> &nbsp; <%= @contact_emails.join(",") %></li>
                      <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-8" id="map">
                <!-- MAP -->
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade in  active" id="Locations">
            <div class="row no_margin">
              <%if @pictures.count == 0%>
                  <h4>Photos coming soon</h4>
              <%end%>
              <!-- <h4>Photos</h4> --><br>
              <%@pictures.each do |picture|%>
                  <div class="col-md-3 fix_image_size">
                    <a class="fancybox" href="<%= picture.image.url%>" rel="gallery1">
                      <img src="<%= picture.image.url(:slide_show)%>">
                    </a>
                  </div>
              <%end%>
            </div>
            <div class="row no_margin event_margin">
              <%if @videos.count == 0%>
                  <h4>Videos coming soon</h4>
              <%else%>
                  <h4>Videos</h4>
              <%end%>
              <%@videos.each do |video|%>
                  <div class="col-md-3 fix_image_size">
                    <a class="fancybox-media" href="<%=video.url%>">
                      <img src="<%=video.image_url%>" alt="missing_image" width="220px" height="185px">
                    </a>
                  </div>
              <%end%>
            </div>
            <br>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Reviews">
            <% if @can_rate_it %>
                <div>
                  <% if @venue.reviews.blank? %>
                      <div id="vote_for_venue"  style="width:151px;height:15px;margin-top:5px;margin-bottom:5px;color:green">
                        <p style="position:relative;text-align:left;font-size:12px;" class="firstrate">Be the First to Rate it</p>
                        <button data-toggle="modal" data-target="#reviewItModal" class="btn btn-success pull-left mright5" style="margin-bottom: 10px;">Write Review</button>
                      </div>
                  <% else %>
                      <div id="vote_for_venue">
                        <button data-toggle="modal" data-target="#reviewItModal" class="btn btn-success pull-left mright5" style="margin-bottom: 10px;">Write Review</button>
                      </div>
                  <% end %>
                  <%= render 'reviews/form',review: @venue.reviews.build,resource_type: @venue.class,resource_id: @venue.id %>
                </div>
            <% end %>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="review_block">
                    <div id="reviews">
                        <% if @reviews.blank? %>
                            <div id="no_reviews">No Reviews yet</div>
                        <% else %>
                          <%= render 'reviews/list',reviews: @reviews %>
                        <% end %>
                    </div>
                    <%= paginate @reviews %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(".carousel-inner div:first-child").addClass("active");
    $(".carousel-indicators li:first-child").addClass("active");
    $("#large-image").html("<img src="+$(".jcarousel ul li ").eq(0).find('img').attr('src')+">");
    $(".jcarousel a").click(function(e){
        $("#large-image").html("<img src="+$(this).find('img').attr('src')+">");

    });

    $('#venue_picture').carousel({
        interval: 500
    })

    $('.fancybox').fancybox();

    if($("#venue_id").val()){
        $.ajax({
            url: "/venues/"+$("#venue_id").val()+"/booked_slots",
            beforeSend: function(res){},
            success: function(data){
                $('#calendar').fullCalendar({
                    header: { left: 'prev',
                        center: 'title',
                        right: 'next'
                    },
                    // businessHours: true,
                    // eventColor: '#ef5323',
                    eventLimit: 3,
                    events: data,
                    loading: function(bool) {
                        $('#loading').toggle(bool);
                    },
                    eventRender: function(event, element) {
                        element.attr('title', event.status);
                        element.tooltip()
                    }
                });
            }
        });

        $(".add_this_venue_to_event").click(function(e) {
            e.preventDefault();
            action = '/venues/'+$("#venue_id").val()+'/check_availability'
            $.ajax({url: action})
        })
    }

    $(function(){
        $('.carousel').carousel({
            interval: 2000
        });
    });
  var map_present = false 
  $(".venue_map_request").click(function () {
  if (map_present == false) {
    $.ajax({
      url: "/venues/<%=@venue.id%>/map",
      type: "get",
      success:function (e) { 
        $("#map").html(e);
        map_present = true
      }
    })
  };
  });
</script>
