<style type="text/css">
    /*FIX IMAGE SIZE FOR CAROUSEL*/
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        display: block;
        line-height: 1;
        height: 410px;
        width: 1000px;
    }

    /* FIX IMAGE SIZE FOR GALLERY TAB.*/
    .fix_image_size > a > img
    {
        height: 165px;
        width: 220px;
    }
    .fix_image_size{height: 180px}
</style>
<div id="wrapper">
  <div class="container-fluid">
    <div class="container venue_bg" id="venue">
      <h3 class="t_left"><%=@venue.name.titleize%></h3>
      <%= hidden_field_tag :venue_id,@venue.id %>
      <div id="carousel-example-generic" class="carousel slide venue_slider" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% if @pictures.blank? %>
            <div class="item">
              <%= image_tag 'venue_1.jpg',width: 600,height: 500 %>
              <!-- <div class="carousel-caption"> venue three </div> -->
            </div>
          <% else %>
            <% @pictures.each_with_index do |picture, index|%>
              <div class="item" id="venue_picture" >
                <img src="<%=picture.image.url%>" alt="..."  width="600" height="500" >
                <!-- <div class="carousel-caption"> Picture <%#= index+1%> </div> -->
              </div>
            <%end%>
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <%@pictures.each_with_index do |picture_dot, index|%>
                <li data-target="#carousel-example-generic" data-slide-to="<%=index+1%>"></li>
              <%end%>
            </ol>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a> </div>
      <div class="venue_right">
        <div>
          <div id="calendar" style="width: 400px;border: 4px solid #edb311;background-color: #faebd7;"></div>
        </div>
        <div class="row">
          <div class="col-md-12 ptop">
          <div class="row">
          <!-- <div class="col-md-2"></div> -->
          <% if (params[:from_event].present? && params[:from_event]!= "false") && current_spree_user.present? %>
          <div class="col-md-10">
              <%#= link_to "Venues List", venues_path(:from_event => params[:from_event].present? ? params[:from_event] : "false"), {:class => "btn btn-success"}%>
                <%= link_to "Add this Venue to Event", new_event_path(venue_id: @venue.id), {:class => "add_this_venue_to_event btn btn-primary pull-left"}%>
          </div>      
          <% else %>
          <div class="col-md-10">
            <%#= link_to "Venues List", venues_path, {:class => "btn btn-success"}%>
          </div>  
          <% end %>
          </div>
          </div>
        </div>
      </div>
      <div class="venue_tab_content">
        <h4 class="review_star">Overall Rating</h4>
        <% if @venue.rates.present? %>
<!--            <p style="position:relative;font-size:12px;color:#878484;margin-top:2px;font-weight:normal;">Based on 
  <%#= pluralize(@venue.rates.count, 'Member') %></p> -->
          <p style="position:relative;font-size:12px;color:#878484;margin-top:2px;font-weight:normal;">
            <%= pluralize(@venue.reviews.count, 'Review')%>
          </p>
           <%= rating_for @venue, nil, readonly: true %>
        <% else %>
          <%= rating_for @venue, nil, readonly: true, noRatedMsg: "No Ratings available" %><%= pluralize(@venue.reviews.count, 'Review')%>
        <% end %>
        <br>
        <ul class="nav nav-tabs" role="tablist" id="myTab">
          <li role="presentation" class="active"><a href="#Locations" role="tab" data-toggle="tab">Gallery</a></li>
          <li role="presentation"><a href="#Reviews" role="tab" data-toggle="tab">Reviews</a></li>
          <li role="presentation"><a href="#About" role="tab" data-toggle="tab">About</a></li>
          <li role="presentation"><a href="#ContactDetails" role="tab" data-toggle="tab">Contact Details</a></li>
        </ul>
        <div class="tab-content venue_tab_margin">
          <div role="tabpanel" class="tab-pane fade in" id="About">
            <div class="row no_margin">
              <div class="col-md-12"> <b>Type of Venue:</b> &nbsp;
              <%unless @type_of_venues.blank?%>
                   <%= @type_of_venues.join(',')%>
              <%else%>
                 Not Available. Please Contact Management.
               <%end%>
              </div>
            </div>

            <div class="row no_margin">
              <div class="col-md-12"> <b>Types of Events:</b> &nbsp;
                <% if @venue.events.exists?%>
                    Birthdays, Marriages, Receptions, etc.
                <%else%>
                    Birthdays, Marriages, Receptions.
                <%end%>
              </div>
            </div>
            <div class="row no_margin">
              <div class="col-md-12"> <b>Description:</b> &nbsp;
                <%= @venue.description%>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="ContactDetails">
            <div class="row no_margin">
              <div class="col-md-4">
                <br>
                <ul class="venue_ctc_details">
                  <li><b><%=@venue.name.titleize%></b></li>
                  <li><%=@venue.address1%>,<%= @venue.address2 %>,<%=@venue.city%></li>
                  <li><%=@venue.state%>,<%=@venue.country%></li>
                  <li><%=@venue.zip%></li>
                  <li><span class="glyphicon glyphicon-envelope"></span> &nbsp; <%=@venue.email%></li>
                  <% if @contacts.present? %>
                    <% if @land_numbers.present? %>
                      <li><span class="glyphicon glyphicon-earphone"></span> &nbsp; <%= @land_numbers.join(",") %></li>
                    <% end %>
                    <% if @mobile_numbers.present? %>  
                      <li><span class="glyphicon glyphicon-phone"></span> &nbsp; <%= @mobile_numbers.join(",") %></li>
                    <% end %>
                    <% if @contact_emails.present? %>
                      <li><span class="glyphicon glyphicon-envelope"></span> &nbsp; <%= @contact_emails.join(",") %></li>
                    <% end %>  
                  <% end %>
                </ul>
              </div>
              <div class="col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15222.825740006923!2d78.571752!3d17.473759450000003!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1417601051402" width="100%" height="250" frameborder="0" style="border:0"></iframe>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade in  active" id="Locations">
            <div class="row no_margin">
              <%if @pictures.count == 0%>
                <h4>Photos coming soon</h4>
              <%end%>
              <!-- <h4>Photos</h4> --><br>
              <%@pictures.each do |picture|%>
                  <div class="col-md-3 fix_image_size">
                    <a class="fancybox" href="<%= picture.image.url%>" rel="gallery1">
                      <img src="<%= picture.image.url(:slide_show)%>">
                    </a>
                  </div>
              <%end%>
            </div>
            <div class="row no_margin event_margin">
              <%if @videos.count == 0%>
                <h4>Videos coming soon</h4>
              <%else%>
              <h4>Videos</h4>
              <%end%>
              <%@videos.each do |video|%>
              <div class="col-md-3 fix_image_size">
                <a class="fancybox-media" href="<%=video.url%>">
                  <img src="<%=video.image_url%>" alt="missing_image" width="220px" height="185px">
                </a>
              </div>
              <%end%>
            </div>
                <br>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Reviews">
            <% if @can_rate_it %>
                <% if !@venue.rates.present? %>
                     <div id="first_rate_text"  style="width:151px;height:15px;margin-top:5px;margin-bottom:5px;color:green">
                         <p style="position:relative;text-align:left;font-size:12px;">Be the First to Rate it</p>
                     </div>
                     <%= rating_for @venue, nil, disable_after_rate: true %>
                <% else %>
                     <div id="first_rate_text">
                       <h4>Rate It:</h4><%= rating_for @venue, nil, disable_after_rate: true %>
                     </div>
                <% end %>
            <% end %>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="row comment_block_btn">
                    <% if current_spree_user && @venue.can_review?(current_spree_user) %>
                        <% place_holder = @reviews.blank? ? "Be the First to Review it" : "Write your Review" %>
                        <div id="review_block" >
                        <div class="col-md-9">
                          <%= form_tag reviews_path ,remote: true,id: 'review_form' do %>
                              <%= text_area_tag :description,'',id: 'review_content',cols: 95,rows: 2 , placeholder: place_holder %>
                              <%= hidden_field_tag :resource ,'venue' %>
                              <%= hidden_field_tag :venue_id ,@venue.id %>
                        </div>
                        <div class="col-md-3">
                          <%= submit_tag 'WRITE REVIEW',class: 'btn btn-lg btn-success btn-block  ' %>
                        </div>
                        <% end %>
                        </div>
                        
                    <% end %>
                  </div>
                  <div class="comment_block">
                    <% if @reviews.blank? %>
                        <div id="no_reviews">No Reviews</div>
                    <% else%>
                        <div id="reviews">
                          <div class="page">
                            <% @reviews.each_with_index do |review, index| %>
                                <% index = @reviews.count - index %>
                                <%= render 'reviews/review',review: review, index: index %>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                  <%= paginate @reviews %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(".carousel-inner div:first-child").addClass("active");
    $(".carousel-indicators li:first-child").addClass("active");
    $("#large-image").html("<img src="+$(".jcarousel ul li ").eq(0).find('img').attr('src')+">");
    $(".jcarousel a").click(function(e){
        $("#large-image").html("<img src="+$(this).find('img').attr('src')+">");

    });

    $('#venue_picture').carousel({
        interval: 500
    })

    $('.fancybox').fancybox();

    if($("#venue_id").val()){
        $.ajax({
            url: "/venues/"+$("#venue_id").val()+"/booked_slots",
            beforeSend: function(res){},
            success: function(data){
                $('#calendar').fullCalendar({
                    header: { left: 'prev',
                              center: 'title',
                              right: 'next'
                    },
                    eventColor: '#ef5323',
                    eventLimit: 1,
                    events: data
                });
            }
        });

        $(".add_this_venue_to_event").click(function(e) {
          e.preventDefault();
          action = '/venues/'+$("#venue_id").val()+'/check_availability'
          $.ajax({url: action})
        }) 
    }

$(function(){
    $('.carousel').carousel({
      interval: 2000
    });
});    
</script>

