<% if @wishlist and @wishlist.wished_products.size > 0 %>
    <%= form_for :order, :url => "/orders/populate",remote: true,html: {class: 'form_margin',id: 'wishlist-add-to-cart-form'} do |f| %>
        <%= hidden_field_tag :event_id ,@event.try(:id) %>
        <%= hidden_field_tag :invitation_id ,@invitation.try(:id) %>
        <div class="modal fade" id="yourfriendwishlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal5">
            <div class="modal-content modal_wishlist_bg"><br>
              <div class="modal-header">
                <div class="title_trending rec_addlist_title_top">
                  <div class="title_bg"></div>
                  <div class="model_box_name rec_addlist_title">Your friend likes following gifts</div>
                </div>
              </div>
              <div class="modal-body">
                <div class="row wishlist_popup_header event_rec_wishlist_block no_margin">
                  <div class="col-md-2"></div>
                  <div class="col-md-2 txt_bold">Description</div>
                  <div class="col-md-2 txt_bold">Requested Quantity</div>
                  <div class="col-md-2 txt_bold">Purchased Quantity</div>
                  <div class="col-md-2 txt_bold">Select Quantity</div>
                  <div class="col-md-1 txt_bold">Price</div>
                </div>
                <div class="scroll_wishlist">
                  <% req_qnty = 0 %>
                  <% purc_qnty = 0 %>
                  <% flag = 0 %>
                  <% @wishlist.wished_products.each_with_index do |wish,i|
                    req_qnty =  wish.quantity
                    purc_qnty = wish.quantity_purchased
                    variant = wish.variant
                    product = variant.product %>
                      <% if(flag == 0 and purc_qnty >= req_qnty) %>
                         <% flag = 0 %>
                      <% else %>
                         <% flag = 1%>
                      <% end %>
                      <% p_url = spree.product_url(product)  %>
                      <div class="row wishlist_popup_center event_rec_wishlist_block">
                        <div class="col-md-2">
                          <div class="wishlist_img_block">
                            <% if variant.images.length == 0 %>
                                <%= link_to small_image(variant.product) ,p_url%>
                            <% else %>
                                <%= link_to image_tag(variant.images.first.attachment.url(:small)),p_url %>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <h4><%= link_to product.name ,p_url,style: "color: #484848"%></h4>
                          <p><%= truncate(product.description, :length=> 100, :omission=> "...") %></p>
                        </div>
                        <div class="col-md-2">
                          <p class="text-center"><%= wish.quantity %></p>
                        </div>
                        <div class="col-md-2">
                          <p class="text-center"><%= wish.quantity_purchased %></p>
                        </div>
                        <div class="col-md-2">
                          <%= hidden_field_tag "variant_id[#{i}]", variant.id %>
                          <% if wish.quantity_purchased >= wish.quantity %>
                              <p>Already Purchased</p>
                          <% else %>
                              <%= number_field_tag "quantity[#{i}]", 0, min: 0 ,max: wish.quantity - wish.quantity_purchased,class: 'form-control addcart_select' %>
                          <% end %>
                        </div>
                        <div class="col-md-1"><p><%= number_to_currency(variant.price, unit: get_currency_symbol) %></p></div>
                      </div>
                  <%end  %>
                </div>
                <div class="row wishlist_popup_footer">
                  <div class="col-md-12 mtop10">
                    <%#= f.submit "ADD TO CART",class: 'btn btn-lg btn-primary btn-block btn_addtocart pull-right' %>
                    <% if flag == 1 %>
                        <%= f.submit "ADD TO CART",class: 'btn btn-success btn_addtocart pull-right' %>
                        <a href="/" class="btn btn_addtocart btn-gray pull-right mright5" data-dismiss="modal">Cancel</a>
                    <% else  %>
                        <br><div class="text-success text-center btn-lg">All Items are already purchased</div>
                    <% end  %>
                  </div>
                </div>
              </div>
              <div class="modal-footer"> </div>
            </div>
          </div>
        </div>
    <% end %>
<% end  %>

<script type="text/javascript">
    // submit form via ajax
    $("#wishlist-add-to-cart-form").bind('ajax:beforeSend', function() { $('.loading-indicator').fadeIn('slow') })

</script>