<div class="container-fluid">
  <div class="container" >
    <%= hidden_field_tag :event_id ,@event.id %>
    <!--modal boxes************************************************************-->
    <!--add to wishlist modal box-->

    <%= render 'wishlist_modal' %>
    <%= render 'shipping_address_form' %>

    <div class="row wishlist_header">
      <div class="col-md-3"></div>
      <div class="col-md-6 position_rel">
        <input type="search" class="form-control" placeholder="search products">
        <button class="position_abs search_btn"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      <div class="col-md-3"><a href="#" class="btn btn-lg btn-primary btn-block addwishlist_btn" data-toggle="modal" data-target="#wishlist-modal">
        <div class="img-rounded search_btn_count position_abs">
          <p id="wishlist-count"><%= @wishlist.wished_products.count %></p>
        </div>
        ADD TO WISHLIST</a>
      </div>
    </div>

    <div class="row mtop40" id="choose_products">
      <%= render 'products/products',products: @products,wishlist: @wishlist %>
    </div>
  </div>
</div>
