.container-fluid
  .container
    = render 'products/top_section'
    #choose_products.row.mtop20
      .col-md-3.filter{}
        - if "wishlist" == params[:controller] && @taxon
          = render :partial => 'spree/shared/filters'
        - else
          = render :partial => 'spree/shared/taxonomies'
      - if params[:keywords]
        #search_results{"data-hook" => "search_results"}
          - if @products.empty?
            %h6.search-results-title= Spree.t(:no_products_found)
          - else
            = render 'spree/shared/products', products: @products, taxon: @taxon,wishlist: @wishlist
      - else
        #homepage_products
          -#- cache(cache_key_for_products) do
          = render 'spree/shared/products', products: @products, taxon: @taxon,wishlist: @wishlist