.scroll_wishlist
  - if @wishlist.wished_products.length > 0
    - @wishlist.wished_products.each do |wish|
      - variant = wish.variant
      - product = variant.product
      - p_url = spree.product_url(product, :taxon_id => @taxon.try(:id),event_id: @event.id)
      .row.wishlist_popup_center.wishlist.wished_product
        .col-md-2
          .wishlist_img_block
            - if variant.images.length == 0
              = link_to small_image(variant.product),p_url
            - else
              = link_to image_tag(variant.images.first.attachment.url(:small)),p_url
        .col-md-4
          %h4=  link_to product.name ,p_url
          %p= truncate(product.description,length: 50)
        .col-md-2
          = form_tag update_wished_product_quantity_path(event_id: @event.id),id: 'update-wished-product-quantity-form' ,remote: true do
            = hidden_field_tag :variant_id, product.master.id
            = number_field_tag :quantity, wish.quantity, min: 1, class: "w_product text_6", id: "#{product.id}"
            %button.btn.btn-success.btn_add_quantity.update_product_quantity{:id => "button_#{product.id}"} Update
        .col-md-2
          %h5= number_to_currency(variant.price, unit: get_currency_symbol)
        .col-md-2
          - if @wishlist.event.is_owner?(spree_current_user) && wish.quantity_purchased == 0
            = link_to remove_wished_product_path(event_id: @event.id,variant_id: product.master.id),method: :delete,data: {variant_id: product.master.id},confirm: 'Are you sure?',class: 'remove-wished-product',remote: true do
              %span.glyphicon.glyphicon-trash

:javascript
  // before updating quantity
  $("#update-wished-product-quantity-form")
      .bind('ajax:beforeSend', function() { $('.loading-indicator').fadeIn('slow') })
      .bind('ajax:success', function(data, status, xhr) { $('.loading-indicator').hide() })
      .bind('ajax:failure', function(xhr, status, error) { })
      .bind('ajax:complete', function() { });
  // remove product from UI and then send request to server to delete
  $("#wishlist-modal-items .remove-wished-product").bind('ajax:beforeSend', function() {
     $(this).parents('.wished_product').first().fadeOut(500, function() { $(this).remove(); })
     $("#wishlist-count").text(parseInt($("#wishlist-count").text()) - 1)
     $(".wishlist_modal_count").text(parseInt($(".wishlist_modal_count").text()) - 1)
     $('.wishable_products #product_'+$(this).attr('data-variant-id')+' .add_product_to_wishlist_btn').removeClass('product_added_btn').addClass('product_add_btn')
     $('.wishable_products #product_'+$(this).attr('data-variant-id')).find('span:first').removeClass('glyphicon-ok remove').addClass('glyphicon-plus add');
  })

  $(".update_product_quantity").hide()
  $(".w_product").click(function(){
     var clicked_id =  $(this).attr('id')
     var show_id = "#button_" + clicked_id
     $(show_id).fadeIn()
  })