<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user }%>
<div class="container-fluid" style="background-color:#f1f2f7">
  <div class="container">
    <div class="row">
      <div class="title_name">My Account</div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <h4>Personal Details</h4>
        <%= form_for(@user, url: account_update_profile_path, html: {method: "post"}) do |f| %>
            <div class="ptopbottom">
              <%= f.email_field :email,class: "form-control", placeholder:"Email Address*", required: true %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :nickname,class: "form-control",placeholder:"Nick Name*",autofocus: true %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :first_name,class: "form-control",placeholder:"First Name*", required: true %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :last_name,class: "form-control",placeholder:"Last Name*", required: true %>
            </div>
            <div class="ptopbottom">
              <%= f.phone_field :phone,class: "form-control",placeholder:"Phone", required: true,pattern: "[0-9]{10}", title:"Invalid Phone Number",:maxlength => 10 %>
            </div>
            <h4>Home Address</h4>
            <div class="ptopbottom">
              <%= f.text_area :address,class: "form-control",placeholder: "Address"%>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :city,class: "form-control",placeholder: "City" %>
            </div>
            <div id="country">
              <%= f.collection_select :country_id, available_countries, :id,:name, {:include_blank => 'Country'}, {class: 'form-control'}%>
            </div>
            <div class="ptopbottom">
              <% if @user.country_id.present? %>
                  <%= f.collection_select :state_id, Spree::Country.find(@user.country_id).states || [], :id,:name, {:include_blank => 'Select State'}, {class: 'form-control'}%>
              <% else %>
                  <%= f.collection_select :state_id, Spree::Country.try(:states) || [], :id,:name, {:include_blank => 'Select State'}, {class: 'form-control'}%>
              <% end %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :zipcode,class: "form-control",placeholder: "Zip Code" %>
            </div>
            <div class="ptopbottom">
              <button class= 'btn' onclick="window.location('account_show_path')">Back</button>
              <%= f.submit "save changes",  :class => 'btn btn-success pull-right' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

        $("#user_country_id").change(function(){
        country=$(this).val()
        if(country){
            $.ajax({
                type: "GET",
                url: "/country/get-states/" + country,
                success: function (json) {
                    $('#user_state_id').empty()
                    $.each(json, function (i, value) {
                        $('#user_state_id').append($('<option>').text(value.name).attr('value', value.id));
                    });
                }
            });
        }
        else {
            $('#user_state_id').empty()
        }
    });



</script>