<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user }%>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="title_name">My Account</div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <h4>Personal Details</h4>
        <%= form_for(@user, url: account_update_profile_path, html: {method: "post"}) do |f| %>
            <div class="ptopbottom">
              <%= f.email_field :email,class: "form-control", placeholder:"Email Address*", required: true %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :nickname,class: "form-control",placeholder:"Nick Name*",autofocus: true %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :first_name,class: "form-control",placeholder:"First Name*", required: true %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :last_name,class: "form-control",placeholder:"Last Name*", required: true %>
            </div>
            <div class="ptopbottom">
              <%= f.phone_field :phone,class: "form-control",placeholder:"Phone", required: true,pattern: "[0-9]{10}", title:"Invalid Phone Number",:maxlength => 10 %>
            </div>
            <h4>Home Address</h4>
            <div class="ptopbottom">
              <%= f.text_area :address,class: "form-control",placeholder: "Address"%>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :city,class: "form-control",placeholder: "City" %>
            </div>
            <div id="country">
              <%= f.collection_select :country_id, Spree::Country.order(:name), :id,:name, {selected: (@user.country_id ? @user.country_id : Spree::Address.default().country.id)}, {class: 'form-control'}%>
            </div>
            <div class="ptopbottom">
              <%= f.collection_select :state_id,(@user.state_id ? Spree::Country.find(@user.country_id).states : Spree::Address.default().country.states), :id, :name, {}, {class: 'form-control'}  %>
            </div>
            <div class="ptopbottom">
              <%= f.text_field :zipcode,class: "form-control",placeholder: "Zip Code" %>
            </div>
            <div class="ptopbottom">

              <%= link_to "Back", account_show_path,class: "btn btn-gray" %>
              <%= f.submit "save changes",  :class => 'btn btn-success pull-right' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
        $("#user_country_id").change(function(){
        country=$(this).val()
            $.ajax({
                type: "GET",
                url: "/country/get-states/" + country,
                success: function (json) {
                    $('#user_state_id').empty()
                    $.each(json, function (i, value) {
                        $('#user_state_id').append($('<option>').text(value.name).attr('value', value.id));
                    });
                }
            });
    });
</script>