

<div class="container-fluid" style="background-color:#f1f2f7">
  <div class="container">
    <div class="row">
      <div class="title_name">My Account</div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <!--<div><img src="images/event_1.jpg" width="240" height="240"alt=""/>
        </div>-->
        <% if @user.avatar.present? %>
            <%=  image_tag(@user.avatar.url(:preview)) %>
            <a href="#" class="btn btn-primary btn-sm mtop10" data-toggle="modal" data-target="#changeProfilePic" data-dismiss="modal" id="user_photo">Change photo</a>
        <% elsif spree_current_user.user_authentications.find_by_provider("facebook").present?%>
            <% uid = spree_current_user.user_authentications.find_by_provider("facebook").uid%>
            <img src="http://graph.facebook.com/<%=uid%>/picture?type=large" height="220" width="220">
            <a href="#" class="btn btn-primary btn-sm mtop10" data-toggle="modal" data-target="#changeProfilePic" data-dismiss="modal" id="user_photo">Change photo</a>
        <% else %>
            <%=  image_tag("default-avatar-big.png") %>
            <a href="#" class="btn btn-primary btn-sm mtop10" data-toggle="modal" data-target="#changeProfilePic" data-dismiss="modal" id="user_photo">Add photo</a>
        <% end %>

      </div>

      <div class="col-md-4">
        <h4>Personal Details</h4>
        <div style="font-size:16px;">
          <div class="mtop20"><%=  image_tag("imgo.jpeg", height: '16', width: '16') %> <%=  @user.nickname %></div>
          <div class="mtop20"> <span class="glyphicon glyphicon-user"></span> <%=  @user.full_name %></div>
          <div class="mtop20"><span class="glyphicon glyphicon-envelope"></span> <%=  @user.email %></div>
          <div class="mtop20"><span class="glyphicon glyphicon-phone"></span> <%=  @user.phone %></div>
        </div>

      </div>

      <div class="col-md-5">
        <h4>Address <a href="/account/edit_profile" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-edit"></span> edit profile</a></h4>
            <ul class="venue_ctc_details" id="venue_afterchoose">
              <li><span class="glyphicon glyphicon-map-marker"></span> <b><%=  @user.address %>,</b></li>
              <li><%=  @user.city %>,</li>
              <% if @user.country_id && @user.state_id %>
                  <li><%=  Spree::Country.find(@user.country_id).states.find(@user.state_id).name %>,</li>
                  <li><%= "#{Spree::Country.find(@user.country_id)}" ',' " #{@user.zipcode}" %></li>
              <% end %>
            </ul>
      </div>


    </div>
  </div>
</div>



<div class="modal fade in" id="changeProfilePic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"><div class="modal-backdrop fade in"></div>
  <div class="modal-dialog modal5">
    <div class="modal-content modal_wishlist_bg">
      <div class="modal-header">
        <h3 class="txt_center">Change Profile Photo</h3>
      </div>
      <div class="modal-body">
        <%= form_for(@user, url: account_update_avatar_path, html: {method: "post",class: 'update_avatar'}) do |f| %>
            <div class="center-block position_rel browse_width">
            <%= f.file_field :avatar,onchange: "image_preview(this);",class: "btn adbf btn-primary center-block event_file_upload_button" %>
            <button class="btn btn-primary center-block">browse photo</button>

            <div class="picCropArea" id="img-preview" >
            </div>
            </div>
            </div>
            <div class="modal-footer">
              <a href="/"><span class="btn btn-info mright5" data-dismiss="modal">Cancel</span></a>
              <%= f.submit "Save",class:  "btn btn-success pull-right",id: 'image_submit' %>
            </div>
        <% end %>
        </div>
  </div>
</div>
<script type="text/javascript">
    $('#image_submit').click(function (){
        if($('#user_avatar').val()){
            extension = $('#user_avatar').val().split('.').pop().toUpperCase();
            if (extension!="PNG" && extension!="JPG" && extension!="GIF" && extension!="JPEG"){
                bootbox.alert('Invalid Image')
                return false;
            }
            $('.update_avatar').submit()
        }   else{
            bootbox.alert('Choose Image')
            return false;
        }
    })

    $("#user_photo").click(function(){
        $('#img-preview').empty();
    })
</script>

