.container-fluid.banner_padding
  / inner container section
  .container
    .row
      .col-md-12
        .title_name.t_left Create New Account
    .row
      = render :partial => 'spree/shared/error_messages', :locals => { :target => @user }
      = form_for resource, :as => :spree_user, :url => spree.registration_path(@user) ,html: {class: "form-signin"} do |f|
        .col-md-6
          .row
            .col-md-6
              = f.text_field :first_name,class: "form-control",placeholder:"First Name*", required: true,autofocus: true
            .col-md-6
              = f.text_field :last_name,class: "form-control",placeholder:"Last Name*", required: true
          %br
            .row
              .col-md-12
                = f.email_field :email,class: "form-control", placeholder:"Email Address*", required: true
            %br
              .row
                .col-md-6
                  = f.password_field :password,class: "form-control",placeholder:"Password*", required: true
                .col-md-6
                  = f.password_field :password_confirmation,class: "form-control", placeholder:"Password Confirmation*", required: true
              %br
                .row
                  .col-md-12
                    = f.phone_field :phone,class: "form-control", placeholder:"Phone Number*", required: true
                %br
                  .row
                    .col-md-12
                      = f.submit "REGISTER", class: "btn btn-primary"
      - if Spree::AuthenticationMethod.available_for(@spree_user).map(&:provider).include?('facebook')
        .col-md-1
          %h3.h3_or or
        .col-md-3
          .fb_img.fb-wrap
            = link_to spree.spree_user_omniauth_authorize_url(provider: 'facebook') do
              .fb-icon-bg
              .fb-bg Sign up with facebook