<div class="mainHeader">
  <div class="topHeader">
    <div class="headerLogo">
      <a href="/" class="logo" id="logo_top">
        <img src="/assets/logo_web.jpg" height="60px" >
      </a>
    </div>
    <div class="headerMenuRight">
      <%- if signed_in? %>
          <div class="headerTabs">
            <%= link_to 'Cart', '/cart' %>
          </div>
          <div class="headerTabs">
            <%= link_to 'My Account', '/account' %>
          </div>
          <div class="headerTabs">
            <%= link_to "Log Out", '/logout' %>
          </div>
      <% else %>
          <div class="headerTabs">
            <%= link_to "Signup", '/signup' %>
          </div>
          <div class="headerTabs">
            <%= link_to "Login", '/login' %>
          </div>

      <% end %>
    </div>
  </div>
  <div class="mainMenubar">
    <nav id="gallery-nav">
      <ul class="event_types">
        <li class="top"><a href="#"><span>What's Up?</span></a></li>
        <li class="top"><a href="/events"><span>Events</span></a></li>
        <li class="top"><a href="#"><span>Venues</span></a></li>
        <li class="top"><a href="#"><span>Organizers</span></a></li>
        <li class="top"><a href="/calendar"><span>My Calendar</span></a></li>
      </ul>
    </nav>
  </div>
</div>


<script>
    $(window).scroll(function(){
        var sticky = $('.mainMenubar'),
                scroll = $(window).scrollTop();

        if (scroll >= 70) sticky.addClass('fixed');
        else sticky.removeClass('fixed');
    });
</script>