<% if order.has_step?("address") %>
    <div class="row">
      <h3><%= Spree.t(:billing_address) %></h3><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %>
      <%= render :partial => 'spree/shared/address', :locals => { :address => order.bill_address } %>
    </div>


    <% if !session[:event_id].present? %>
        <% if order.has_step?("delivery") %>
            <div class="row">
              <h3><%= Spree.t(:shipping_address) %></h3> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %>
              <%= render :partial => 'spree/shared/address', :locals => { :address => order.ship_address } %>
            </div>
        <% end %>
    <% end %>

    <% if @order.has_step?("delivery") %>
        <div class="row">
          <h3><%= Spree.t(:shipments) %></h3> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless @order.completed? %>
          <% order.shipments.each do |shipment| %>
              <div class="place_order_add">
                <i class='fa fa-truck'></i>
                <%= Spree.t(:shipment_details, :stock_location => shipment.stock_location.name, :shipping_method => shipment.selected_shipping_rate.name) %>
              </div>
          <% end %>
        </div>
        <%= render(:partial => 'spree/shared/shipment_tracking', :locals => {:order => @order}) if @order.shipped? %>
    <% end %>

<% end %>

<div class="row">
  <h3><%= Spree.t(:payment_information) %></h3> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless @order.completed? %>
  <div class="payment-info">
    <% order.payments.valid.each do |payment| %>
        <div class="place_order_add"><%= render payment%></div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="wishlist_main">
    <div class="wishlist_header del_cart"><table width="100%">
      <tr>
        <td>Item Description</td>
        <td>Price</td>
        <td>Qty</td>
        <td>Total</td>
      </tr>
    </table></div>
    <% @order.line_items.each do |item| %>
        <div class="wishlist">
          <div class="col-md-1 wlist">
            <% if item.variant.images.length == 0 %>
                <%= link_to small_image(item.variant.product), item.variant.product %>
            <% else %>
                <%= link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product %>
            <% end %>
          </div>
          <div class="col-md-1 wlist_id"><%= item.variant.product.name %></div>
          <div class="col-md-1 wlist_p del_cart_qty"><%= item.single_money.to_html %></div>
          <div class="col-md-1 wlist_pq del_cart_pri"><%= item.quantity %></div>
          <div class="col-md-1 wlist_pq del_cart_pri"><%= item.display_amount.to_html %></div>
        </div>
    <% end %>
  </div>
  <div class="row palce_order_tlt">
    <h3>Total</h3>
    <div class="total_order_text"><%= Spree.t(:order_total) %>: <%= @order.display_total.to_html %></div><br>
    <div class="total_order_text"><%= Spree.t(:subtotal) %>: <%= @order.display_item_total.to_html %></div><br>

    <% if @order.line_item_adjustments.exists? %>
        <% if order.all_adjustments.promotion.eligible.exists? %>
            <% order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                <div class="total_order_text"><%= Spree.t(:promotion) %>: <strong><%= label %></strong>&nbsp; <%= Spree::Money.new(adjustments.sum(&:amount)) %></div><br>
            <% end %>
        <% end %>
    <% end %>

    <% if order.all_adjustments.tax.exists? %>
        <% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
            <div class="total_order_text"><%= Spree.t(:tax) %>: <strong><%= label %></strong>  &nbsp; <span><%= Spree::Money.new(adjustments.sum(&:amount)) %></span> </div><br>
        <% end %>
    <% end %>

    <% order.shipments.group_by { |s| s.shipping_method.name }.each do |name, shipments| %>
        <div class="total_order_text"> <%= Spree.t(:shipping) %>: <strong><%= name %></strong>&nbsp;<span><%= Spree::Money.new(shipments.sum(&:discounted_cost)).to_html %></span> </div>
    <% end %>

    <% @order.adjustments.eligible.each do |adjustment| %>
        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>

        <div class="total_order_text"> <strong><%= adjustment.label %></strong> &nbp; <span><%= adjustment.display_amount.to_html %></span></div>

    <% end %>
  </div>
</div>
