- paginated_products = @searcher.retrieve_products if params.key?(:keywords)
- paginated_products ||= products
.col-md-9.products_list.wishable_products
  - if products.empty?
    = Spree.t(:no_products_found)
  - elsif params.key?(:keywords)
    %h6.search-results-title= Spree.t(:search_results, :keywords => h(params[:keywords]))
  - if products.any?
    %h4= link_to taxon.name, seo_url(taxon), :class => 'breadcrumbs' if taxon
    - products.in_groups_of(3, false) do |row_products|
      .row.mbottom40
        - for product in row_products
          - url = spree.product_url(product, :taxon_id => @taxon.try(:id),event_id: @event.id)
          .col-md-4.product{id: "product_#{ product.master.id}"}
            %a{:href => "#{url}"}
              .product_block
                %h4= truncate(product.name, :length => 50)
                = large_image(product, :itemprop => "image")
                %p= number_to_currency(product.price, unit: get_currency_symbol)
            - if wishlist.wished_products.where(variant_id: product.master.id).exists?
              .product_added_btn.add_product_to_wishlist_btn{data: {event_id: @event.id,variant_id: product.master.id}}
                %span.glyphicon.glyphicon-ok.remove
            - else
              .product_add_btn.add_product_to_wishlist_btn{data: {event_id: @event.id,variant_id: product.master.id}}
                %span.glyphicon.glyphicon-plus.add
  - if paginated_products.respond_to?(:num_pages)
    = paginate paginated_products
