= hidden_field_tag :event_id ,@event.id
/ modal boxes************************************************************
/ add to wishlist modal box
= render 'wishlist/wishlist_modal'
= render 'wishlist/shipping_address_form'
.row.wishlist_header
  .col-md-3
    - if session[:from_wishlist].eql?('edit')
      - back_path = "/events/#{@event.id}"
    - elsif session[:from_wishlist].eql?('preview')
      - back_path = "/event/#{@event.id}/preview"
    - else
      - back_path = "/event/#{@event.id}/invite-with-wishlist"
    = link_to back_path, class:"btn btn-gray back_button" do
      %span.glyphicon.glyphicon-chevron-left
      Back
  .col-md-6.position_rel
    = render 'spree/shared/search'
  .col-md-3
    %a.btn.btn-success.btn-block.addwishlist_btn{"data-target" => "#wishlist-modal", "data-toggle" => "modal", :href => "#"}
      .img-rounded.search_btn_count.position_abs
        %p#wishlist-count= @wishlist ? @wishlist.wished_products.count : 0
      ADD TO WISHLIST
:javascript
  $('.back_button').click(function (e){
      products = $("#wishlist-count").text()
      address = "#{@event.ship_address}"
      if (products != 0 && !address){
       e.preventDefault()
        bootbox.alert("Please add Shipping address before continuing")
                    $('#wishlist-modal').modal('hide')
                    $('#wishlist-shipping-addrs-modal').modal('show')
      }
  })