.container-fluid.banner_padding
  / banner image
  .position_rel
    %div
      = image_tag('banner.jpg' ,class: 'img-responsive')
    .whatsup_src_block
      .form-group.whatsup_search
        %a{:href => "#"}
          %span.glyphicon.glyphicon-search.pull-left.whatsup_src_icon
        %input.event_search{:placeholder => "Find Events", :type => "search"}/
  .container
    .row
      .create_event
        .btn_orange
          - if spree_current_user
            = link_to 'Create Event','/events/new'
          - else
            %a{"data-dismiss" => "modal", "data-target" => "#login_modal", "data-toggle" => "modal", :href => "#"} Create Event
      .title_name Trending Events
    .row
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_4.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_1.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_2.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_3.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join
    .row.event_margin
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_1.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_2.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_3.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join
      .col-xs-12.col-sm-6.col-md-3
        .event_img
          %a.thumbnail{:href => "#"}
            = image_tag('event_4.jpg')
          .event_name
            %p MAISA EVENT
          .event_details
            .event_date
              %span.glyphicon.glyphicon-calendar>
              24/11/14
              .pull-right 04.30 PM
            .event_place
              %span.glyphicon.glyphicon-map-marker>
              Hyderabad
              %a{:href => "#"}
                .pull-right.join_btn Join