<div class="container-fluid banner_padding">
  <!-- banner image -->
  <div class="position_rel">
    <div>
      <%= image_tag('banner.jpg' ,class: 'img-responsive') %>
    </div>
    <div class="whatsup_src_block">
      <div class="form-group whatsup_search">
        <%= form_tag("/",method: :get) do%>
            <%= text_field_tag :query, params[:query], class: "event_search ", placeholder:'Find Events by name or city' %>
            <button class="whatsup_src_icon"><span class="glyphicon glyphicon-search pull-left"></span></button>
        <%end %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="create_event">
      <div class="btn_orange">
        <% if spree_current_user  %>
            <%= link_to 'Create Event','/events/new' %>
        <% else %>
            <a data-dismiss="modal" data-target="#login_modal" data-toggle="modal" href="">Create Event</a>
        <% end %>
      </div>
    </div>
    <% unless @trending_events.blank? %>
        <div class="title_name">Trending Events</div>
    <% end  %>
  </div>


  <div class="container">
    <div class="row">
      <div id="trending_events">
        <div class="page">
          <%= render 'events/events_list',events: @trending_events, type: "trending" %>
        </div>
      </div>
      <%= paginate @trending_events %>
    </div>
  </div>
</div>
<% if params[:query].present? %>
    <script type="text/javascript">
        $('html, body').animate({
            scrollTop: $("#trending_events").offset().top
        }, 1500);
    </script>
<% end  %>
