.container-fluid
  %br/
  %br/
  %h1{style: "text-align: center;font-weight: bold;"} Log in to your account
  %br/

  .login
    = form_for(Spree::User.new, as: :spree_user, url: spree.spree_user_session_path,html: {style: 'margin:45px;'})  do |f|
      - if Spree::AuthenticationMethod.available_for(@spree_user).map(&:provider).include?('facebook')
        .form-group
          .fblogin
            = link_to image_tag('fblogin.png',class: 'img-rounded'),spree.spree_user_omniauth_authorize_url(provider: 'facebook')
            %br/
            %br/
            or

      .form-group
        %label Email address
        = f.email_field :email,placeholder: 'Enter email',id: 'exampleInputEmail1',class: 'form-control', required: true
      %br/
      .form-group
        %label Password
        = f.password_field :password,placeholder: 'Password',id: 'exampleInputPassword1',class: 'form-control', required: true
      .checkbox
        %label
          = link_to 'Forgot Password ?',spree.recover_password_path
      %br/
      .btn_c.btn_c-create.viaTurbo{"data-url" => spree.signup_path}
        %a{:href => "#"} Create New
      %button.btn_l.btn_l-login{:on => "", :type => "submit"} Login