:css
  .row {
    margin-bottom: 0px;
  }
= render :partial => 'spree/shared/error_messages', :locals => { :target => @venue }
.row
  .alpha.six.columns
    .field
      %label Name
      %span.required *
      = f.text_field :name,:autofocus => true,class: 'fullwidth'
      = f.error_message_on :name
  .omega.six.columns
    .field
      %label Email
      %span.required
      = f.email_field :email,class: 'fullwidth'
      = f.error_message_on :email
.row
  .alpha.six.columns
    .field
      %label Room Dimensions
      %span.required
      %br/
      = f.number_field :room_dimensions ,placeholder: 'in sq feet',min: '1', class: 'fullwidth'
      = f.error_message_on :room_dimensions
  .omega.six.columns
    .field
      %label Capacity
      %span.required
      %br/
      = f.number_field :capacity, class: 'fullwidth',min: '1',placeholder: 'members'
      = f.error_message_on :capacity
.row
  .alpha.six.columns
    .field
      %label Price min
      %span.required
      = f.number_field :price_min, min: '1',class: 'fullwidth'
      = f.error_message_on :price_min
  .omega.six.columns
    .field
      %label Price max
      %span.required
      = f.number_field :price_max, min: '1', class: 'fullwidth'
      = f.error_message_on :price_max
.row
  .alpha.six.columns
    .field
      %label Priority
      %span.required
      = f.number_field :priority ,min: '0', class: 'fullwidth'
      = f.error_message_on :priority
  .omega.six.columns
    .field
      %label Promote
      %span.required
      %br
      = f.check_box :promote
      = f.error_message_on :promote
.row
  .alpha.twelve.columns
    .field
      %label Venue types
      %span.required
      = render :partial => 'venue_types'
      = f.error_message_on :venue_type
.row
  .alpha.twelve.columns
    .field
      %label Event types
      %span.required
      = render :partial => 'event_types'
      = f.error_message_on :template_ids
.row
  .alpha.twelve.columns
    .field
      %label Features
      %span.required
      %ul
        - unless VenueFeature.all.blank?
          -  VenueFeature.all.each do |feature|
            %li
              = check_box_tag "venue[feature_ids][]",feature.id,@venue.features.map(&:id).include?(feature.id)
              = feature.name
        - else
          %li
            %a{:href => "/admin/features/new"} Create Feature.
      = f.error_message_on :feature_ids
.row
  .alpha.twelve.columns
    .field
      %label Facilities
      %span.required
      %ul
        - unless VenueFacility.all.blank?
          - VenueFacility.all.each do |facility|
            %li
              = check_box_tag "venue[facility_ids][]",facility.id,@venue.facilities.map(&:id).include?(facility.id)
              = facility.name
        - else
          %li
            %a{:href => "/admin/facilities/new"} Create Facility.
      = f.error_message_on :facility_ids
.row
  .alpha.twelve.columns
    %fieldset.no-border-bottom
      %legend{:align => "center"} Address
.row
  .alpha.six.columns
    .field
      %label Address (H.no/Street number)
      %span.required *
      = f.text_field :address  , class: 'fullwidth'
      = f.error_message_on :address
  .omega.six.columns
    .field
      %label Location (Ameerpet etc)
      %span.required
      = f.text_field :location, class: 'fullwidth'
      = f.error_message_on :location
.row
  .alpha.six.columns
    .field
      %label City
      %span.required
      = f.text_field :city  , class: 'fullwidth'
      = f.error_message_on :city
  .omega.six.columns
    .field
      %label Country
      %span.required
      = f.collection_select :country, Spree::Country.order(:name), :name,:name, {selected: (@venue.country ? @venue.country : Spree::Address.default().country.name)}, {class: 'fullwidth'}
      = f.error_message_on :country
.row
  .alpha.six.columns
    .field
      %label State
      %span.required
      = f.collection_select :state, (@venue.country ? Spree::Country.find_by_name(@venue.country).states : Spree::Address.default().country.states), :name, :name, {}, {class: 'fullwidth'}
      = f.error_message_on :state
  .omega.six.columns
    .field
      %label Zip
      %span.required *
      = f.text_field :zip, class: 'fullwidth',pattern: "[0-9]{6}", title:"Zipcode"
      = f.error_message_on :zip
.row
  .alpha.twelve.columns
    %fieldset.no-border-bottom
      %legend{:align => "center"} About
.row
  .alpha.twelve.columns
    .field
      %label Description
      %span.required
      = f.text_area :description ,placeholder: 'About venue'  ,class: 'fullwidth'
      = f.error_message_on :description
  .alpha.twelve.columns
    .field
      %label Special Notes
      %span.required
      = f.text_area :special_notes ,placeholder: 'Allows html formatted data' ,class: 'fullwidth'
      = f.error_message_on :special_notes
// Contact Details
.row
  .alpha.twelve.columns
    %fieldset.no-border-bottom
      %legend{:align => "center"}  Contact Information
#venue_contacts
  = f.fields_for :venue_contacts do |contact_form|
    .row
      .alpha.five.columns
        .field
          %label Full name
          %span.required *
          %br/
          = contact_form.text_field :full_name,class: 'fullwidth'
      .three.columns
        .field
          %label Mobile
          %span.required
          %br/
          = contact_form.text_field :mobile_number
      .three.columns
        .field
          %label Land line number
          %span.required
          %br/
          = contact_form.text_field :land_number
      .three.columns
        .field
          %label
          %span.required
          %br/
          = contact_form.link_to_remove "Remove(-)"
%div{style: 'text-align: right;margin: 5px;'}
  = f.link_to_add "Add new contact(+)", :venue_contacts, "data-target" => "#venue_contacts"
// Contact Details
.row
  .alpha.twelve.columns
    %fieldset.no-border-bottom
      %legend{:align => "center"}  Video Urls
#video_urls
  = f.fields_for :video_urls do |video_form|
    .row
      .alpha.five.columns
        .field
          %label Url link
          %span.required *
          %sup{style: 'color:#a1c820'} (Youtube & Vimeo videos only)
          %br/
          = video_form.text_field :url,class: 'fullwidth',:type=>"url"
      .three.columns
        .field
          %label
          %span.required
          %br/
          = video_form.link_to_remove "Remove(-)"
  %div{style: 'text-align: right;margin: 5px;'}
    = f.link_to_add "Add new Video(+)", :video_urls, "data-target" => "#video_urls"
.form-buttons.filter-actions.actions{"data-hook" => "buttons"}
  %button.icon-ok.button{:name => "button", :type => "submit"} #{button_name}
  %span.or or
  %a.button.icon_link.with-tip.icon-remove{:href => "#{admin_venues_path}"}
    %span.text Cancel
:javascript
  $("#venue_country").change(function(){
        country=$(this).val()
        $.ajax({
            type: "GET",
            url: "/country/get-states/"+country,
            success: function(json){
                $('#venue_state').empty()
                $.each(json, function(i, value) {
                    $('#venue_state').append($('<option>').text(value.name).attr('value',value.name));
                });
            }
        });
    });