<% content_for :page_actions do %>
  <li>
    <%= button_link_to 'Back to Venue',  edit_admin_venue_url(@venue), icon: 'icon-arrow-left' %>
  </li>
  <li>
    <%= button_link_to 'Add New Venue', new_admin_venue_url, icon: 'icon-plus' %>
  </li>
<% end %>
<% unless @venue.venue_calendars.any? %>
  <div class="no-objects-found">
    <%= "No Bookings Found" %>
  </div>
<% else %>
  <table class="index sortable" data-hook="images_table" data-sortable-link="#">
    <colgroup>
      <col style="width: 5%"></col>
      <col style="width: 30%"></col>
      <col style="width: 45%"></col>
    </colgroup>
    <thead>
      <tr>
        <th colspan="2">
          <%= Spree.t(:start_date) %>
        </th>
        <th colspan="2">
          <%= Spree.t(:end_date) %>
        </th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @venue.venue_calendars.each do |cl| %>
        <tr class="<%= cycle('odd', 'even') %>" id="<%= spree_dom_id(cl) %>">
          <td class="no-border"></td>
          <td>
            <%= cl.start_date.strftime("%m/%d/%Y %H:%M") %>
          </td>
          <td>
            <%= cl.end_date.strftime("%m/%d/%Y %H:%M") %>
          </td>
          <td class="actions">
            <%= link_to_with_icon 'icon-trash', 'Delete', remove_venue_slot_admin_venue_path(@venue, :calendar_id => cl.id), method: :delete,confirm: 'Are you sure?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div id="calendars">
  <%= form_for VenueCalendar.new,url: book_venue_admin_venue_url(@venue) do |f| %>
    <fieldset>
      <legend align="center">Book Slot</legend>
      <div>
        <div class="nine columns alpha">
          <div class="field">
            <label for="start_date">Start Date</label>
            <%= f.text_field :start_date, :class => 'datetimepicker' ,:readonly => "readonly"%>
          </div>
          <div class="field">
            <label for="end_date">End Date  </label>
            <%= f.text_field :end_date, :class => 'datetimepicker',:readonly => "readonly" %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <button class="icon-refresh button" name="button" type="submit">Book Slot</button>
        <span class="or">or</span>
        <a class="button icon_link with-tip icon-remove" href="<%= edit_admin_venue_url(@venue) %>" id="cancel_link">
          <span class="text">Cancel</span>
        </a>
      </div>
    </fieldset>
  <% end %>
</div>

<script type="text/javascript">
  //Restrict to select a past date from date picker on venue process
  jQuery('#venue_calendar_start_date,#venue_calendar_end_date').datetimepicker({
    minDate: new Date(),
    dateFormat: "yy-mm-dd"
  });  

  jQuery('#venue_calendar_start_date,#venue_calendar_end_date').datetimepicker({
    allowTimes:['00:00','00:30','01:00','01:30','02:30','03:00','03:30','04:00','04:30','05:00','05:30',
    '06:00','06:30','07:00','07:30','08:30','08:30','09:00','09:30','10:00','10:30','11:00','11:30',
    '12:00 ','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30',
    '18:00','  18:30','19:00','19:30','20:00','20:30','21:00','21:30','22:00','22:30',
    '23:00','23:30']
  });
  $('.datepicker').datetimepicker();
</script>
